<%= render("orders/header") %>

  <div id="fixed-body">
    <div class="checkout-section" id="note-view">
      <div class="container content">
        <div class="ten columns">
          <div class="new-seven columns">
            <h1 class="checkout-header">
              Checkout
            </h1>
          </div>
          <div style="display:none;">
            <span class="mp-auto-add_on_item_skipped" style="display:none;" data-mp-add_on_skipped="1"></span>
          </div>
          <div class="ten columns">
            <hr>


              <%= form_for @note, :url => url_for(:controller => 'notes', :action => 'create') do |f| %>


              <div class="row row-header">
                <div class="five columns alpha">
                  <h2 class="checkout-subheader">
                    Написать записку
                  </h2>
                </div>
                <div class="five columns omega">
                  <h2 class="checkout_info">
                    Отставьте пустым и мы ничего не напишем!
                  </h2>
                </div>
              </div>
              <div class="row">
                <div>
                  <label for="send_reason">Причина отправки?</label> <select name="send_reason" id="send-reason">
                  <option value="" selected="selected">
                    Есть идеи!!
                  </option>
                  <option value="anniversary">
                    Anniversary
                  </option>
                  <option value="b_day">
                    B-Day
                  </option>
                  <option value="congrats">
                    Congrats
                  </option>
                  <option value="engagement">
                    Engagement
                  </option>
                  <option value="get_well">
                    Get Well
                  </option>
                  <option value="just_because">
                    Just Because
                  </option>
                  <option value="love_feels">
                    Love & Feels
                  </option>
                  <option value="new_baby">
                    New Baby
                  </option>
                  <option value="new_home">
                    New Home
                  </option>
                  <option value="sorry">
                    Sorry 😬
                  </option>
                  <option value="sympathy">
                    Sympathy
                  </option>
                  <option value="thank_you">
                    Thank You
                  </option>
                  <option value="thinking_of_you">
                    Thinking of You
                  </option>
                  <option value="welcome ">
                    Welcome
                  </option>
                  <option value="other">
                    Other
                  </option>
                </select>
                </div>
              </div>
              <div class="row">
                <div class="five columns alpha wrap-magic">
                  <label class="label-magic" for="note_to">To</label>

                  <%= f.text_field :note_to, :class => "bloom-input-100 note-input-field", :id => "note_to", :placeholder => "Кому"%>

                </div>
                <div class="five columns omega wrap-magic">
                  <label class="label-magic" for="note_from">From</label>

                  <%= f.text_field :note_from, :class => "bloom-input-100 note-input-field", :id => "note_from", :placeholder => "От кого"%>

                </div>
              </div>
              <div class="row">
                <div class="ten columns wrap-magic">
                  <div id="note-wrapper">
                    <label class="label-magic" for="note_content">Note (<span id="note_content-count">0</span>/120)</label>

                    <%= f.text_area :note, :class => "bloom-input-100 note-input-field", :id => "note_content", :placeholder => "120 символов.", :maxlength => "120" %>



                    <i id='ex' class="fa fa-times fa-2" aria-hidden="true"></i>
                    <div id="rando-note-wrapper">
                      Позвольте нам помочь с запиской! <button class="logout_btn" id="rando-note">Кликни тут</button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row text-center" id="note-sample">
                <div class="ten columns wrap-magic text-center">
                  <div class="fancy-note-wrapper">
                    <div class="fancy-note fancy-note-to-field"></div>
                    <div class="fancy-note-body-center">
                      <div class="fancy-note-body-wrapper">
                        <p class="fancy-note fancy-note-body-field"></p>
                      </div>
                    </div>
                    <div class="fancy-note fancy-note-from-field"></div>
                  </div>
                  <div class="fancy-note-disclaimer">
                    <p class="fancy-note-disclaimer-text">
                      <em>This is just a sample, actual note may look different.</em>
                    </p>
                  </div>
                </div>
              </div>
              <div class="row row-header">
                <div class="ten columns alpha">
                  <h2 class="checkout-subheader" style="">
                    Инструкции для доставки
                  </h2>
                </div>
              </div>
              <div class="row">
                <div class="ten columns wrap-magic">
                  <label class="label-magic" for="instructions">Инструкции для доставки</label>

                  <%= f.text_area :special_instruction, :class => "bloom-input-100 note-input-field", :id => "instructions", :placeholder => "Есть код для входа? Сложно найти здание, помогите нам найти.", :maxlength => "255" %>

                </div>
              </div>
              <div class="row">

                <div id="next-alone" class="five columns omega wrap-magic">
                  <%= f.submit "Далее", :id => "submit-to-me" %>
                </div>

              </div>




              <% end %>





          </div>
        </div>
        <div class="six columns">
          <div class="six columns well" id="who_summary">
            <span class="edit_icon"><a href="/checkout/delivery"><i class="fa fa-pencil"></i></a></span>
            <div class="mobile_cart_column">
              <table class="order_tracker">
                <tr height="10">
                  <td colspan="2"></td>
                </tr>
                <tr class="checkout_row">
                  <td class="table_left_col">
                    Кому
                  </td>
                  <td class="table_full_right_col">
                    <%= @order.delivery.first_name %>
                  </td>
                </tr>
                <tr class="checkout_row">
                  <td class="table_left_col">
                    Телефон
                  </td>
                  <td class="table_full_right_col">
                    <%= @order.delivery.phone_number %>
                  </td>
                </tr>
                <tr class="checkout_row">
                  <td class="table_left_col">
                    Адрес
                  </td>
                  <td class="table_full_right_col">
                    <%= @order.delivery.address %>
                  </td>
                </tr>
                <tr class="checkout_row">
                  <td class="table_left_col">
                    &nbsp;
                  </td>
                  <td class="table_full_right_col">
                    Кв/Офис <%= @order.delivery.address_apartment %>
                  </td>
                </tr>
                <tr height="10">
                  <td colspan="3"></td>
                </tr>
              </table>
            </div>
          </div>
          <div class="six columns well" id="when_summary">
            <span class="edit_icon"><a href="/checkout/when"><i class="fa fa-pencil"></i></a></span>
            <div class="mobile_cart_column">
              <table class="order_tracker">
                <tr height="10">
                  <td colspan="3"></td>
                </tr>
                <tr class="checkout_row" style="border-bottom:1px solid #eeeeee">
                  <td style="width:56px;" class="table_left_col">
                    Дата
                  </td>
                  <td class="table_full_right_col">
                    <%= @order.when.date %>
                  </td>
                </tr>
                <tr class="checkout_row">
                  <td class="table_left_col">
                    Время
                  </td>
                  <td class="table_full_right_col">
                    <%= @order.when.time %>
                  </td>
                </tr>
                <tr height="10">
                  <td></td>
                </tr>
              </table>
            </div>
          </div>
          <div class="six columns well" id="cart_summary_log">
            <span class="edit_icon"><a href="/cart"><i class="fa fa-pencil"></i></a></span>
            <div class="mobile_cart_column">
              <table class="order_tracker">
                <tr height="10">
                  <td></td>
                </tr>
                <tr class="table_product_row">

                  <% @order.line_items.each do |item| %>

                      <td class="table_product_img">
                        <%= image_tag(item.product.image_url_cart_small, :class => "table_icon") %>
                      </td>
                      <td class="table_product_name">
                        <%= item.product.rus_title %>
                      </td>
                      <td class="table_product_price">
                        <%= item.product.price %>
                      </td>
                  <% end %>
                </tr>
                <tr style="display:none;" id="order-discount-row">
                  <td class="table_left_col">
                    &nbsp;
                  </td>
                  <td class="table_row_title">
                    Discount
                  </td>
                  <td class="table_row_result" id="order-discount-value">
                    -$0.00
                  </td>
                </tr>
                <tr>
                  <td class="table_left_col">
                    &nbsp;
                  </td>
                  <td class="table_row_title">
                    Доставка
                  </td>
                  <td class="table_row_result" id="order-shipping-value">
                    0.00
                  </td>
                </tr>

                <tr>
                  <td colspan="3">
                    <hr>
                  </td>
                </tr>
                <tr class="table_product_row">
                  <td class="table_left_col">
                    &nbsp;
                  </td>
                  <td height="40" valign="top" class="table_product_name">
                    Итого:
                  </td>
                  <td height="40" valign="top" class="table_total_price" id="order-total-value">
                    <%= @total %>
                  </td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="fb-root"></div>
<div class="arrow_box_email-capture" id="email-capture-modal" style="display:none;" data-backdrop="static" data-keyboard="false">
  <div class="bottom-layer">
    <div class="modal-body">
      <img class="modal-bg-img" src="https://fdn.bloomthat.com/sweet_pics/home/2015/6/bloomthat-email-modal-bg@1100px.jpg" alt="BloomThat Send Something" title="BloomThat Send Something">
      <div id="before-jesus-a">
        <div class="modal-over-body">
          <h2 class="email-cap-head">
            There's something<br>
            you should know.
          </h2>
        </div>
        <div class="modal-over-body-cta">
          <h3 class="email-cap-sub">
            Sign up for our emails &#43; find out.
          </h3>
          <h4 class="email-cap-small">
            (You'll also get <strong>$5 off</strong> your first order for signing up.)
          </h4>
        </div>
        <div class="hero-address-gate">
          <div class="gate-form-holder">
            <div class="hero-input-box" id="email_collect-input">
              <input class="bloom-input-100 monster-lite-form" type="email" name="user_name" placeholder="Enter Email Here" required="" id="email-collect-input-a">
            </div>
            <div class="hero-button-box">
              <button type="button" class="action-pre_register hero-shop-button mp-email_register_attempted"><span>TELL ME!</span></button>
            </div>
          </div>
        </div>
      </div>
      <div id="after-jesus-a" style="display:none;">
        <div class="modal-over-body-cta dones">
          <h2 class="email-cap-head">
            Here's $5 off<br>
            for signing up!
          </h2>
          <h3 class="email-cap-sub big-jump">
            Use code <strong>FIRSTBLOOMS</strong> at checkout
          </h3>
          <h4 class="email-cap-small">
            First time users only
          </h4>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="arrow_box_email-capture" id="email-capture-modal-b" style="display:none;" data-backdrop="static" data-keyboard="false">
  <div class="bottom-layer">
    <div class="modal-body">
      <img class="modal-bg-img" src="https://fdn.bloomthat.com/sweet_pics/home/2015/6/bloomthat-email-modal-bg-2a@1100px.jpg" alt="BloomThat Send Something" title="BloomThat Send Something">
      <div id="before-jesus-b">
        <div class="modal-over-body sign-head">
          <h2 class="email-cap-head sign-two-head">
            Welcome to<br>
            the Bloomcrew!
          </h2>
        </div>
        <div class="modal-over-body-cta sign-sub">
          <h3 class="email-cap-sub sign-two-sub">
            Sign up and get
          </h3>
        </div>
        <div class="hero-address-gate sign-two-email">
          <div class="gate-form-holder">
            <div class="hero-input-box sign-two-input-box" id="email_collect-input">
              <input class="bloom-input-100 monster-lite-form" type="email" name="user_name" placeholder="Enter Your Email Here" required="" id="email-collect-input-b">
            </div>
            <div class="hero-button-box sign-two-button-box">
              <button type="button" class="action-pre_register hero-shop-button mp-email_register_attempted"><span>GET THE CODE</span></button>
            </div>
          </div>
        </div>
      </div>
      <div id="after-jesus-b" style="display:none;">
        <div class="modal-over-body-cta dones">
          <div class="modal-over-body sign-head">
            <h2 class="email-cap-head sign-two-head">
              Nailed It.
            </h2>
          </div>
          <div class="modal-over-body-cta sign-sub">
            <h3 class="email-cap-sub sign-two-sub">
              You Got
            </h3>
          </div>
          <div class="modal-over-body-coupon">
            <h3 class="email-cap-sub big-jumper">
              Use code <strong>FIRSTBLOOMS</strong> at checkout
            </h3>
            <h4 class="email-cap-small">
              First time users only
            </h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>






<div class="arrow_box_zipper" style="display:none;" id="promo_code_enter">
  <div class="bottom-layer">
    <div class="modal-body">
      <div class="arrow_box_header_top">
        <h3 class="arrow-header">
          Promo <strong>Code</strong>
        </h3>
      </div>
      <h4 class="arrow-text">
        Enter a promo or referral code
      </h4>
      <div class="container modal-wrap-container">
        <div class="row modal-wrap-row">
          <form action="https://www.bloomthat.com/checkout/promo_save" method="post" accept-charset="utf-8" id="promo-save-form">
            <div class="modal-input-kicker">
              <input type="hidden" name="note_to" value="" id="promo-note-to"> <input type="hidden" name="note_from" value="" id="promo-note-from"> <input type="hidden" name="note_content" value="" id="promo-note-content"> <input type="text" name="promo_code" class="bloom-input-100" placeholder="Promo Code">
            </div>
            <div class="modal-button-kicker">
              <button type="submit"><span>GO</span></button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="arrow_box_zipper" style="display:none;height:220px" id="stripe-cardless-info-modal">
  <div class="bottom-layer">
    <div class="modal-body">
      <div class="arrow_box_header_top">
        <h3 class="arrow-header">
          Stripe Cardless Payment
        </h3>
      </div>
      <div class="container modal-wrap-container">
        <div class="row modal-wrap-row">
          <h4 class="arrow-text" style="margin-top:20px; margin-bottom:20px;">
            This payment option connects directly to <a href="https://stripe.com/checkout" target="_blank">Stripe</a><br>
            so we never know anything about your credit card.<br>
            <br>
            Once we've made this one charge we will not be able to charge your card again since we don't have in our records 😀
          </h4>
        </div>
      </div>
      <div class="container modal-wrap-container">
        <div class="row modal-wrap-row">
          <ul class="location_picker">
            <li>
              <button type="button" class="logout_btn stripe-modal-close" name="Close">AWESOME!</button>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<%= render('orders/footer')%>