<%= render("orders/header") %>

  <div id="fixed-body">
    <div class="checkout-section" id="delivery-view">
      <div class="container content">
        <div class="ten columns">
          <h1 class="checkout-header">
            Оплата
          </h1>
          <div class="ten columns">
            <hr>




            <input type="hidden" name="hash" value="1" id="hash">
            <div class="row row-header">
              <div class="five columns alpha">
                <h2 class="checkout-subheader">
                  Получатель
                </h2>
              </div>
              <div class="five columns omega">
                <a class="check-top-right-link" href="javascript:void(0)" id="previous-recipient">Уже отправляли?</a>
              </div>
            </div>
            <div class="row" style="max-height:300px;overflow:auto;display:none;" id="previous-recipient-table">
              <div class="eight columns">
                <div class="three columns rapid-bloom" id="prev_recip_bloom">
                  <div class="round-button">
                    <div class="round-button-circle">
                      <a class="round-button address-book-entry" data-hash="17af5ed49842"><span>FG</span><span class="shh">SEND</span></a>
                    </div>
                  </div>
                  <div class="recipient-info" style="text-align:center;">
                    <p>
                      Fd Gs
                    </p>
                    <p>
                      124 1st Ave #3
                    </p>
                    <p>
                      New York
                    </p>
                  </div>
                </div>
                <div class="three columns rapid-bloom" id="prev_recip_bloom">
                  <div class="round-button">
                    <div class="round-button-circle">
                      <a class="round-button address-book-entry" data-hash="5900e4a80784"><span>AV</span><span class="shh">SEND</span></a>
                    </div>
                  </div>
                  <div class="recipient-info" style="text-align:center;">
                    <p>
                      Anton Vek
                    </p>
                    <p>
                      123 W Broadway #53
                    </p>
                    <p>
                      New York
                    </p>
                  </div>
                </div>
                <div class="three columns rapid-bloom" id="prev_recip_bloom">
                  <div class="round-button">
                    <div class="round-button-circle">
                      <a class="round-button address-book-entry" data-hash="ffdaf9d6af1f"><span>DA</span><span class="shh">SEND</span></a>
                    </div>
                  </div>
                  <div class="recipient-info" style="text-align:center;">
                    <p>
                      deg ads
                    </p>
                    <p>
                      123 S Park St
                    </p>
                    <p>
                      San Francisco
                    </p>
                  </div>
                </div>
                <div class="three columns rapid-bloom" id="prev_recip_bloom">
                  <div class="round-button">
                    <div class="round-button-circle">
                      <a class="round-button address-book-entry" data-hash="a81e2cd64e37"><span>AG</span><span class="shh">SEND</span></a>
                    </div>
                  </div>
                  <div class="recipient-info" style="text-align:center;">
                    <p>
                      Anf Gdsss
                    </p>
                    <p>
                      123 Park St
                    </p>
                    <p>
                      San Francisco
                    </p>
                  </div>
                </div>
                <div class="three columns rapid-bloom" id="prev_recip_bloom">
                  <div class="round-button">
                    <div class="round-button-circle">
                      <a class="round-button address-book-entry" data-hash="d29c31c309ab"><span>AP</span><span class="shh">SEND</span></a>
                    </div>
                  </div>
                  <div class="recipient-info" style="text-align:center;">
                    <p>
                      Anton Putra
                    </p>
                    <p>
                      1685 Parkline Dr Apt 13
                    </p>
                    <p>
                      San Francisco
                    </p>
                  </div>
                </div>
              </div>
            </div>


            <%= form_for(@delivery) do |f| %>
                <% if @delivery.errors.any? %>
                    <div id="error_explanation">
                      <h2>Вы допустили ошибку:</h2>

                      <ul>
                        <% @delivery.errors.full_messages.each do |msg| %>

                            <li><%= msg %></li><% end %>
                      </ul>
                    </div><% end %>


                <div class="row">
                  <div class="five columns alpha wrap-magic">
                    <label class="label-magic" for="first_name">First Name</label>
                    <%= f.text_field :first_name, :class => "bloom-input-100", :id => "first_name", :placeholder => "Имя"%>
                  </div>
                  <div class="five columns omega wrap-magic">
                    <label class="label-magic" for="last_name">Last Name</label>
                    <%= f.text_field :last_name, :class => "bloom-input-100", :id => "last_name", :placeholder => "Фамилия"%>
                  </div>
                </div>
                <div class="row">
                  <div class="five columns alpha wrap-magic">
                    <label class="label-magic" for="company">Company</label>
                    <%= f.text_field :company, :class => "bloom-input-100", :id => "company", :placeholder => "Компания"%>
                  </div>
                  <div class="five columns omega wrap-magic">
                    <label class="label-magic" for="cell_phone">Cell Phone</label>
                    <%= f.text_field :phone_number, :class => "bloom-input-100", :id => "phone_number", :placeholder => "Телефон"%>
                  </div>
                </div>
                <div class="row">
                  <div class="new-seven columns alpha wrap-magic">
                    <label class="label-magic" for="address">Address (123 Park St, San Francisco, CA)</label>
                    <%= f.text_field :address, :class => "bloom-input-100", :id => "delivery-live-address", :placeholder => "Адрес (123 Park St, San Francisco, CA)"%>
                  </div>
                  <div class="three columns omega wrap-magic">
                    <label class="label-magic" for="suite">Apartment/Suite</label>
                    <%= f.text_field :address_apartment, :class => "bloom-input-100", :id => "suite", :placeholder => "Квартира/Офис"%>
                  </div>
                </div>
                <div class="row">
                  <div id="next-alone" class="five columns omega wrap-magic">

                    <%= f.submit "Далее", :id => "submit-to-me" %>

                  </div>
                </div>

            <% end %>


          </div>
        </div>
        <div class="six columns">

          <div class="six columns well" id="when_summary">
            <span class="edit_icon">


              <%= link_to image_tag("pencil.png", :class => "fa-pencil"), root_path %>

            </span>
            <div class="mobile_cart_column">
              <table class="order_tracker">
                <tr height="10">
                  <td colspan="3"></td>
                </tr>
                <tr class="checkout_row" style="border-bottom:1px solid #eeeeee">
                  <td style="width:56px;" class="table_left_col">
                    Дата
                  </td>
                  <td class="table_full_right_col">
                    <%= cookies[:date] %>
                  </td>
                </tr>
                <tr class="checkout_row">
                  <td class="table_left_col">
                    Время
                  </td>
                  <td class="table_full_right_col">
                  Сейчас
                  </td>
                </tr>
                <tr height="10">
                  <td></td>
                </tr>
              </table>
            </div>
          </div>
          <div class="six columns well" id="cart_summary_log">
            <span class="edit_icon">
              <%= link_to image_tag("pencil.png", :class => "fa-pencil"), root_path %>
            </span>
            <div class="mobile_cart_column">
              <table class="order_tracker">



                <tr height="10">
                  <td></td>
                </tr>


                <%= render(@cart.line_items) %>

                <tr>
                  <td class="table_left_col">
                    &nbsp;
                  </td>
                  <td class="table_row_title">
                    Delivery

                  </td>
                  <td class="table_row_result">
                    <em>TBD</em>
                  </td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="fb-root"></div>
<div class="arrow_box_email-capture" id="email-capture-modal" style="display:none;" data-backdrop="static" data-keyboard="false">
  <div class="bottom-layer">
    <div class="modal-body">
      <img class="modal-bg-img" src="https://fdn.bloomthat.com/sweet_pics/home/2015/6/bloomthat-email-modal-bg@1100px.jpg" alt="BloomThat Send Something" title="BloomThat Send Something">
      <div id="before-jesus-a">
        <div class="modal-over-body">
          <h2 class="email-cap-head">
            There's something<br>
            you should know.
          </h2>
        </div>
        <div class="modal-over-body-cta">
          <h3 class="email-cap-sub">
            Sign up for our emails &#43; find out.
          </h3>
          <h4 class="email-cap-small">
            (You'll also get <strong>$5 off</strong> your first order for signing up.)
          </h4>
        </div>
        <div class="hero-address-gate">
          <div class="gate-form-holder">
            <div class="hero-input-box" id="email_collect-input">
              <input class="bloom-input-100 monster-lite-form" type="email" name="user_name" placeholder="Enter Email Here" required="" id="email-collect-input-a">
            </div>
            <div class="hero-button-box">
              <button type="button" class="action-pre_register hero-shop-button mp-email_register_attempted"><span>TELL ME!</span></button>
            </div>
          </div>
        </div>
      </div>
      <div id="after-jesus-a" style="display:none;">
        <div class="modal-over-body-cta dones">
          <h2 class="email-cap-head">
            Here's $5 off<br>
            for signing up!
          </h2>
          <h3 class="email-cap-sub big-jump">
            Use code <strong>FIRSTBLOOMS</strong> at checkout
          </h3>
          <h4 class="email-cap-small">
            First time users only
          </h4>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="arrow_box_email-capture" id="email-capture-modal-b" style="display:none;" data-backdrop="static" data-keyboard="false">
  <div class="bottom-layer">
    <div class="modal-body">
      <img class="modal-bg-img" src="https://fdn.bloomthat.com/sweet_pics/home/2015/6/bloomthat-email-modal-bg-2a@1100px.jpg" alt="BloomThat Send Something" title="BloomThat Send Something">
      <div id="before-jesus-b">
        <div class="modal-over-body sign-head">
          <h2 class="email-cap-head sign-two-head">
            Welcome to<br>
            the Bloomcrew!
          </h2>
        </div>
        <div class="modal-over-body-cta sign-sub">
          <h3 class="email-cap-sub sign-two-sub">
            Sign up and get
          </h3>
        </div>
        <div class="hero-address-gate sign-two-email">
          <div class="gate-form-holder">
            <div class="hero-input-box sign-two-input-box" id="email_collect-input">
              <input class="bloom-input-100 monster-lite-form" type="email" name="user_name" placeholder="Enter Your Email Here" required="" id="email-collect-input-b">
            </div>
            <div class="hero-button-box sign-two-button-box">
              <button type="button" class="action-pre_register hero-shop-button mp-email_register_attempted"><span>GET THE CODE</span></button>
            </div>
          </div>
        </div>
      </div>
      <div id="after-jesus-b" style="display:none;">
        <div class="modal-over-body-cta dones">
          <div class="modal-over-body sign-head">
            <h2 class="email-cap-head sign-two-head">
              Nailed It.
            </h2>
          </div>
          <div class="modal-over-body-cta sign-sub">
            <h3 class="email-cap-sub sign-two-sub">
              You Got
            </h3>
          </div>
          <div class="modal-over-body-coupon">
            <h3 class="email-cap-sub big-jumper">
              Use code <strong>FIRSTBLOOMS</strong> at checkout
            </h3>
            <h4 class="email-cap-small">
              First time users only
            </h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="arrow_box_zipper" style="display:none;" id="promo_code_enter">
  <div class="bottom-layer">
    <div class="modal-body">
      <div class="arrow_box_header_top">
        <h3 class="arrow-header">
          Promo <strong>Code</strong>
        </h3>
      </div>
      <h4 class="arrow-text">
        Enter a promo or referral code
      </h4>
      <div class="container modal-wrap-container">
        <div class="row modal-wrap-row">
          <form action="https://www.bloomthat.com/checkout/promo_save" method="post" accept-charset="utf-8" id="promo-save-form">
            <div class="modal-input-kicker">
              <input type="hidden" name="note_to" value="" id="promo-note-to"> <input type="hidden" name="note_from" value="" id="promo-note-from"> <input type="hidden" name="note_content" value="" id="promo-note-content"> <input type="text" name="promo_code" class="bloom-input-100" placeholder="Promo Code">
            </div>
            <div class="modal-button-kicker">
              <button type="submit"><span>GO</span></button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="arrow_box_zipper" style="display:none;height:220px" id="stripe-cardless-info-modal">
  <div class="bottom-layer">
    <div class="modal-body">
      <div class="arrow_box_header_top">
        <h3 class="arrow-header">
          Stripe Cardless Payment
        </h3>
      </div>
      <div class="container modal-wrap-container">
        <div class="row modal-wrap-row">
          <h4 class="arrow-text" style="margin-top:20px; margin-bottom:20px;">
            This payment option connects directly to <a href="https://stripe.com/checkout" target="_blank">Stripe</a><br>
            so we never know anything about your credit card.<br>
            <br>
            Once we've made this one charge we will not be able to charge your card again since we don't have in our records 😀
          </h4>
        </div>
      </div>
      <div class="container modal-wrap-container">
        <div class="row modal-wrap-row">
          <ul class="location_picker">
            <li>
              <button type="button" class="logout_btn stripe-modal-close" name="Close">AWESOME!</button>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="base">
  <div class="container">
    <div class="sixteen columns">
      <div class="row"> <img alt="BloomThat Flower Delivery" style="width:75px;" src="<%=asset_path 'bloomthat-logo-mobile.png' %>"> </div>
      <ul class="master_footer" id="swap-header-footer">
        <li> <a href="https://#/locations" title="Locations">АДРЕС</a> </li>

        <li> <a href="https://#/help-center" title="Help Center">Контакты</a> </li>
      </ul>
      <br>
      <ul class="master_footer">
        <li class="hidden-below"> <a href="https://#/locations" title="Locations">АДРЕС</a> </li>

        <li class="hidden-below"> <a href="https://#/help-center" title="Help Center">Контакты</a> </li>
        <li class="hidden-below"> <a href="https://#/terms" title="Privacy Policy and Terms of Use">Условия</a> </li>
        <li class="hidden-below"> <a href="https://jobs.lever.co/bloomthat" title="Press">Нанимаем</a> </li>
      </ul>
      <h3> Давайте дружить </h3>
      <div class="social-buttons">
        <a target="_blank" href="https://www.instagram.com/" style="background-image: url(/instagram.png);" class="social-button"></a>
        <a target="_blank" href="https://www.snapchat.com/add/" style="background-image: url(/snapchat.png);" class="social-button"></a>
        <a target="_blank" href="https://www.facebook.com/" style="background-image: url(/facebook.png);" class="social-button"></a>
        <a target="_blank" href="https://www.twitter.com/" style="background-image: url(/twitter.png);" class="social-button"></a>
      </div>
      <p> © 2016 OtpravBuket </p>
    </div>
  </div>
</div>
