<div class="these-are-not-the-divs-youre-looking-for">
<%= render("orders/header") %>

  <div id="fixed-body">
    <div id="when-view" class="checkout-section">
      <div class="container content">
        <div class="ten columns">
          <h1 class="checkout-header">
            Checkout
          </h1>
          <div class="ten columns">
            <hr>
            <div class="ten columns">
              <div class="message_row"></div>
            </div>
            <div class="selected-type">
              <div class="row row-header">
                <div class="ten columns alpha">
                  <h2 class="checkout-subheader delivery-header">
                    Выберите дату доставки
                  </h2>
                </div>
              </div>
              <div class="row">
                <ul class="dtpicker">



                  <% @dates.each do |date| %>

                      <li class="dtbox dt_date" data-date="2016-12-15">

                        <h3 class="pick_top"><%= Russian::strftime(date, "%A") %></h3>
                        <h4 class="pick_header"><%= Russian::strftime(date, "%d %b") %></h4>


                      </li>
                  <% end %>



                </ul>


              </div>
              <div class="row row-header" id="delivery-header">
                <div class="ten columns alpha">
                  <h2 class="checkout-subheader time-header">
                    Выберите время доставки
                  </h2>
                </div>
              </div>
              <div class="row">
                <ul class="dtpicker dt_date_hour_block" id="date_hours-2017-02-14" style="display:none;">
                  <li class="dtbox dt_hour dt_residential_warning_hide dt_hour-type mp-delivery_time_clicked" data-mp_button_text="$12.99/3pm - 6pm" data-datetime="2017-02-14 15:00:00" data-psw_id="589423" id="datetime-589423">
                    <h3 class="pick_top">
                      $12.99
                    </h3>
                    <h4 class="pick_header">
                      3pm - 6pm
                    </h4>
                  </li>
                </ul>

                <ul class="dtpicker dt_date_hour_block" id="date_hours-2017-02-16" style="display:none;">
                  <li class="dtbox dt_hour dt_residential_warning_hide dt_hour-type mp-delivery_time_clicked" data-mp_button_text="$9.99/11am - 12pm" data-datetime="2017-02-16 11:00:00" data-psw_id="588670" id="datetime-588670">
                    <h3 class="pick_top">
                      $9.991
                    </h3>
                    <h4 class="pick_header">
                      11am - 12pm
                    </h4>
                  </li>
                  <li class="dtbox dt_hour dt_residential_warning_hide dt_hour-type mp-delivery_time_clicked" data-mp_button_text="$9.99/12pm - 1pm" data-datetime="2017-02-16 12:00:00" data-psw_id="588671" id="datetime-588671">
                    <h3 class="pick_top">
                      $9.99
                    </h3>
                    <h4 class="pick_header">
                      12pm - 1pm
                    </h4>
                  </li>
                  <li class="dtbox dt_hour dt_residential_warning_hide dt_hour-type mp-delivery_time_clicked" data-mp_button_text="$9.99/1pm - 2pm" data-datetime="2017-02-16 13:00:00" data-psw_id="588672" id="datetime-588672">
                    <h3 class="pick_top">
                      $9.99
                    </h3>
                    <h4 class="pick_header">
                      1pm - 2pm
                    </h4>
                  </li>
                  <li class="dtbox dt_hour dt_residential_warning_hide dt_hour-type mp-delivery_time_clicked" data-mp_button_text="$9.99/2pm - 3pm" data-datetime="2017-02-16 14:00:00" data-psw_id="588673" id="datetime-588673">
                    <h3 class="pick_top">
                      $9.99
                    </h3>
                    <h4 class="pick_header">
                      2pm - 3pm
                    </h4>
                  </li>
                  <li class="dtbox dt_hour dt_residential_warning_hide dt_hour-type mp-delivery_time_clicked" data-mp_button_text="$9.99/3pm - 4pm" data-datetime="2017-02-16 15:00:00" data-psw_id="588674" id="datetime-588674">
                    <h3 class="pick_top">
                      $9.99
                    </h3>
                    <h4 class="pick_header">
                      3pm - 4pm
                    </h4>
                  </li>
                  <li class="dtbox dt_hour dt_residential_warning_hide dt_hour-type mp-delivery_time_clicked" data-mp_button_text="$9.99/4pm - 5pm" data-datetime="2017-02-16 16:00:00" data-psw_id="588675" id="datetime-588675">
                    <h3 class="pick_top">
                      $9.99
                    </h3>
                    <h4 class="pick_header">
                      4pm - 5pm
                    </h4>
                  </li>
                  <li class="dtbox dt_hour dt_residential_warning_hide dt_hour-type mp-delivery_time_clicked" data-mp_button_text="$9.99/5pm - 6pm" data-datetime="2017-02-16 17:00:00" data-psw_id="588676" id="datetime-588676">
                    <h3 class="pick_top">
                      $9.99
                    </h3>
                    <h4 class="pick_header">
                      5pm - 6pm
                    </h4>
                  </li>
                </ul>
                <ul class="dtpicker dt_date_hour_block" id="date_hours-2017-02-17" style="display:none;">
                  <li class="dtbox dt_hour dt_residential_warning_hide dt_hour-type mp-delivery_time_clicked" data-mp_button_text="$9.99/11am - 12pm" data-datetime="2017-02-17 11:00:00" data-psw_id="588679" id="datetime-588679">
                    <h3 class="pick_top">
                      $9.991
                    </h3>
                    <h4 class="pick_header">
                      11am - 12pm
                    </h4>
                  </li>
                  <li class="dtbox dt_hour dt_residential_warning_hide dt_hour-type mp-delivery_time_clicked" data-mp_button_text="$9.99/12pm - 1pm" data-datetime="2017-02-17 12:00:00" data-psw_id="588680" id="datetime-588680">
                    <h3 class="pick_top">
                      $9.99
                    </h3>
                    <h4 class="pick_header">
                      12pm - 1pm
                    </h4>
                  </li>
                  <li class="dtbox dt_hour dt_residential_warning_hide dt_hour-type mp-delivery_time_clicked" data-mp_button_text="$9.99/1pm - 2pm" data-datetime="2017-02-17 13:00:00" data-psw_id="588681" id="datetime-588681">
                    <h3 class="pick_top">
                      $9.99
                    </h3>
                    <h4 class="pick_header">
                      1pm - 2pm
                    </h4>
                  </li>
                  <li class="dtbox dt_hour dt_residential_warning_hide dt_hour-type mp-delivery_time_clicked" data-mp_button_text="$9.99/2pm - 3pm" data-datetime="2017-02-17 14:00:00" data-psw_id="588682" id="datetime-588682">
                    <h3 class="pick_top">
                      $9.99
                    </h3>
                    <h4 class="pick_header">
                      2pm - 3pm
                    </h4>
                  </li>
                  <li class="dtbox dt_hour dt_residential_warning_hide dt_hour-type mp-delivery_time_clicked" data-mp_button_text="$9.99/3pm - 4pm" data-datetime="2017-02-17 15:00:00" data-psw_id="588683" id="datetime-588683">
                    <h3 class="pick_top">
                      $9.99
                    </h3>
                    <h4 class="pick_header">
                      3pm - 4pm
                    </h4>
                  </li>
                  <li class="dtbox dt_hour dt_residential_warning_hide dt_hour-type mp-delivery_time_clicked" data-mp_button_text="$9.99/4pm - 5pm" data-datetime="2017-02-17 16:00:00" data-psw_id="588684" id="datetime-588684">
                    <h3 class="pick_top">
                      $9.99
                    </h3>
                    <h4 class="pick_header">
                      4pm - 5pm
                    </h4>
                  </li>
                  <li class="dtbox dt_hour dt_residential_warning_hide dt_hour-type mp-delivery_time_clicked" data-mp_button_text="$9.99/5pm - 6pm" data-datetime="2017-02-17 17:00:00" data-psw_id="588685" id="datetime-588685">
                    <h3 class="pick_top">
                      $9.99
                    </h3>
                    <h4 class="pick_header">
                      5pm - 6pm
                    </h4>
                  </li>
                </ul>
                <ul class="dtpicker dt_date_hour_block" id="date_hours-2017-02-18" style="display:none;">
                  <li class="dtbox dt_hour dt_residential_warning_hide dt_hour-type mp-delivery_time_clicked" data-mp_button_text="$9.99/12pm - 3pm" data-datetime="2017-02-18 12:00:00" data-psw_id="588868" id="datetime-588868">
                    <h3 class="pick_top">
                      $9.99
                    </h3>
                    <h4 class="pick_header">
                      12pm - 3pm
                    </h4>
                  </li>
                  <li class="dtbox dt_hour dt_residential_warning_hide dt_hour-type mp-delivery_time_clicked" data-mp_button_text="$9.99/3pm - 6pm" data-datetime="2017-02-18 15:00:00" data-psw_id="588869" id="datetime-588869">
                    <h3 class="pick_top">
                      $9.99
                    </h3>
                    <h4 class="pick_header">
                      3pm - 6pm
                    </h4>
                  </li>
                </ul>
                <ul class="dtpicker dt_date_hour_block" id="date_hours-2017-02-20" style="display:none;">
                  <li class="dtbox dt_hour dt_residential_warning_hide dt_hour-type mp-delivery_time_clicked" data-mp_button_text="$9.99/11am - 12pm" data-datetime="2017-02-20 11:00:00" data-psw_id="588688" id="datetime-588688">
                    <h3 class="pick_top">
                      $9.99
                    </h3>
                    <h4 class="pick_header">
                      11am - 12pm
                    </h4>
                  </li>
                  <li class="dtbox dt_hour dt_residential_warning_hide dt_hour-type mp-delivery_time_clicked" data-mp_button_text="$9.99/12pm - 1pm" data-datetime="2017-02-20 12:00:00" data-psw_id="588689" id="datetime-588689">
                    <h3 class="pick_top">
                      $9.99
                    </h3>
                    <h4 class="pick_header">
                      12pm - 1pm
                    </h4>
                  </li>
                  <li class="dtbox dt_hour dt_residential_warning_hide dt_hour-type mp-delivery_time_clicked" data-mp_button_text="$9.99/1pm - 2pm" data-datetime="2017-02-20 13:00:00" data-psw_id="588690" id="datetime-588690">
                    <h3 class="pick_top">
                      $9.99
                    </h3>
                    <h4 class="pick_header">
                      1pm - 2pm
                    </h4>
                  </li>
                  <li class="dtbox dt_hour dt_residential_warning_hide dt_hour-type mp-delivery_time_clicked" data-mp_button_text="$9.99/2pm - 3pm" data-datetime="2017-02-20 14:00:00" data-psw_id="588691" id="datetime-588691">
                    <h3 class="pick_top">
                      $9.99
                    </h3>
                    <h4 class="pick_header">
                      2pm - 3pm
                    </h4>
                  </li>
                  <li class="dtbox dt_hour dt_residential_warning_hide dt_hour-type mp-delivery_time_clicked" data-mp_button_text="$9.99/3pm - 4pm" data-datetime="2017-02-20 15:00:00" data-psw_id="588692" id="datetime-588692">
                    <h3 class="pick_top">
                      $9.99
                    </h3>
                    <h4 class="pick_header">
                      3pm - 4pm
                    </h4>
                  </li>
                </ul>
                <ul class="dtpicker dt_date_hour_block" id="date_hours-2017-02-21" style="display:none;">
                  <li class="dtbox dt_hour dt_residential_warning_hide dt_hour-type mp-delivery_time_clicked" data-mp_button_text="$9.99/11am - 12pm" data-datetime="2017-02-21 11:00:00" data-psw_id="588697" id="datetime-588697">
                    <h3 class="pick_top">
                      $9.99
                    </h3>
                    <h4 class="pick_header">
                      11am - 12pm
                    </h4>
                  </li>
                  <li class="dtbox dt_hour dt_residential_warning_hide dt_hour-type mp-delivery_time_clicked" data-mp_button_text="$9.99/12pm - 1pm" data-datetime="2017-02-21 12:00:00" data-psw_id="588698" id="datetime-588698">
                    <h3 class="pick_top">
                      $9.99
                    </h3>
                    <h4 class="pick_header">
                      12pm - 1pm
                    </h4>
                  </li>
                  <li class="dtbox dt_hour dt_residential_warning_hide dt_hour-type mp-delivery_time_clicked" data-mp_button_text="$9.99/1pm - 2pm" data-datetime="2017-02-21 13:00:00" data-psw_id="588699" id="datetime-588699">
                    <h3 class="pick_top">
                      $9.99
                    </h3>
                    <h4 class="pick_header">
                      1pm - 2pm
                    </h4>
                  </li>
                  <li class="dtbox dt_hour dt_residential_warning_hide dt_hour-type mp-delivery_time_clicked" data-mp_button_text="$9.99/2pm - 3pm" data-datetime="2017-02-21 14:00:00" data-psw_id="588700" id="datetime-588700">
                    <h3 class="pick_top">
                      $9.99
                    </h3>
                    <h4 class="pick_header">
                      2pm - 3pm
                    </h4>
                  </li>
                  <li class="dtbox dt_hour dt_residential_warning_hide dt_hour-type mp-delivery_time_clicked" data-mp_button_text="$9.99/3pm - 4pm" data-datetime="2017-02-21 15:00:00" data-psw_id="588701" id="datetime-588701">
                    <h3 class="pick_top">
                      $9.99
                    </h3>
                    <h4 class="pick_header">
                      3pm - 4pm
                    </h4>
                  </li>
                  <li class="dtbox dt_hour dt_residential_warning_hide dt_hour-type mp-delivery_time_clicked" data-mp_button_text="$9.99/4pm - 5pm" data-datetime="2017-02-21 16:00:00" data-psw_id="588702" id="datetime-588702">
                    <h3 class="pick_top">
                      $9.99
                    </h3>
                    <h4 class="pick_header">
                      4pm - 5pm
                    </h4>
                  </li>
                  <li class="dtbox dt_hour dt_residential_warning_hide dt_hour-type mp-delivery_time_clicked" data-mp_button_text="$9.99/5pm - 6pm" data-datetime="2017-02-21 17:00:00" data-psw_id="588703" id="datetime-588703">
                    <h3 class="pick_top">
                      $9.99
                    </h3>
                    <h4 class="pick_header">
                      5pm - 6pm
                    </h4>
                  </li>
                </ul>




                <ul class="dtpicker dt_date_hour_block" id="date_hours-2017-02-22">

                  <% @timeRanges.each do |time| %>

                  <li class="dtbox dt_hour dt_residential_warning_hide dt_hour-type mp-delivery_time_clicked">
                    <h3 class="pick_top">
                      бесплатно
                    </h3>
                    <h4 class="pick_header">
                      <%= time %>
                    </h4>
                  </li>

                      <% end %>
                </ul>




                <ul class="dtpicker dt_date_hour_block" id="date_hours-2017-02-23" style="display:none;">
                  <li class="dtbox dt_hour dt_residential_warning_hide dt_hour-type mp-delivery_time_clicked" data-mp_button_text="$9.99/11am - 12pm" data-datetime="2017-02-23 11:00:00" data-psw_id="588715" id="datetime-588715">
                    <h3 class="pick_top">
                      $9.99
                    </h3>
                    <h4 class="pick_header">
                      11am - 12pm
                    </h4>
                  </li>
                  <li class="dtbox dt_hour dt_residential_warning_hide dt_hour-type mp-delivery_time_clicked" data-mp_button_text="$9.99/12pm - 1pm" data-datetime="2017-02-23 12:00:00" data-psw_id="588716" id="datetime-588716">
                    <h3 class="pick_top">
                      $9.99
                    </h3>
                    <h4 class="pick_header">
                      12pm - 1pm
                    </h4>
                  </li>
                  <li class="dtbox dt_hour dt_residential_warning_hide dt_hour-type mp-delivery_time_clicked" data-mp_button_text="$9.99/1pm - 2pm" data-datetime="2017-02-23 13:00:00" data-psw_id="588717" id="datetime-588717">
                    <h3 class="pick_top">
                      $9.99
                    </h3>
                    <h4 class="pick_header">
                      1pm - 2pm
                    </h4>
                  </li>
                  <li class="dtbox dt_hour dt_residential_warning_hide dt_hour-type mp-delivery_time_clicked" data-mp_button_text="$9.99/2pm - 3pm" data-datetime="2017-02-23 14:00:00" data-psw_id="588718" id="datetime-588718">
                    <h3 class="pick_top">
                      $9.99
                    </h3>
                    <h4 class="pick_header">
                      2pm - 3pm
                    </h4>
                  </li>
                  <li class="dtbox dt_hour dt_residential_warning_hide dt_hour-type mp-delivery_time_clicked" data-mp_button_text="$9.99/3pm - 4pm" data-datetime="2017-02-23 15:00:00" data-psw_id="588719" id="datetime-588719">
                    <h3 class="pick_top">
                      $9.99
                    </h3>
                    <h4 class="pick_header">
                      3pm - 4pm
                    </h4>
                  </li>
                  <li class="dtbox dt_hour dt_residential_warning_hide dt_hour-type mp-delivery_time_clicked" data-mp_button_text="$9.99/4pm - 5pm" data-datetime="2017-02-23 16:00:00" data-psw_id="588720" id="datetime-588720">
                    <h3 class="pick_top">
                      $9.99
                    </h3>
                    <h4 class="pick_header">
                      4pm - 5pm
                    </h4>
                  </li>
                  <li class="dtbox dt_hour dt_residential_warning_hide dt_hour-type mp-delivery_time_clicked" data-mp_button_text="$9.99/5pm - 6pm" data-datetime="2017-02-23 17:00:00" data-psw_id="588721" id="datetime-588721">
                    <h3 class="pick_top">
                      $9.99
                    </h3>
                    <h4 class="pick_header">
                      5pm - 6pm
                    </h4>
                  </li>
                </ul>
                <ul class="dtpicker dt_date_hour_block" id="date_hours-2017-02-24" style="display:none;">
                  <li class="dtbox dt_hour dt_residential_warning_hide dt_hour-type mp-delivery_time_clicked" data-mp_button_text="$9.99/11am - 12pm" data-datetime="2017-02-24 11:00:00" data-psw_id="588724" id="datetime-588724">
                    <h3 class="pick_top">
                      $9.99
                    </h3>
                    <h4 class="pick_header">
                      11am - 12pm
                    </h4>
                  </li>
                  <li class="dtbox dt_hour dt_residential_warning_hide dt_hour-type mp-delivery_time_clicked" data-mp_button_text="$9.99/12pm - 1pm" data-datetime="2017-02-24 12:00:00" data-psw_id="588725" id="datetime-588725">
                    <h3 class="pick_top">
                      $9.99
                    </h3>
                    <h4 class="pick_header">
                      12pm - 1pm
                    </h4>
                  </li>
                  <li class="dtbox dt_hour dt_residential_warning_hide dt_hour-type mp-delivery_time_clicked" data-mp_button_text="$9.99/1pm - 2pm" data-datetime="2017-02-24 13:00:00" data-psw_id="588726" id="datetime-588726">
                    <h3 class="pick_top">
                      $9.99
                    </h3>
                    <h4 class="pick_header">
                      1pm - 2pm
                    </h4>
                  </li>
                  <li class="dtbox dt_hour dt_residential_warning_hide dt_hour-type mp-delivery_time_clicked" data-mp_button_text="$9.99/2pm - 3pm" data-datetime="2017-02-24 14:00:00" data-psw_id="588727" id="datetime-588727">
                    <h3 class="pick_top">
                      $9.99
                    </h3>
                    <h4 class="pick_header">
                      2pm - 3pm
                    </h4>
                  </li>
                  <li class="dtbox dt_hour dt_residential_warning_hide dt_hour-type mp-delivery_time_clicked" data-mp_button_text="$9.99/3pm - 4pm" data-datetime="2017-02-24 15:00:00" data-psw_id="588728" id="datetime-588728">
                    <h3 class="pick_top">
                      $9.99
                    </h3>
                    <h4 class="pick_header">
                      3pm - 4pm
                    </h4>
                  </li>
                  <li class="dtbox dt_hour dt_residential_warning_hide dt_hour-type mp-delivery_time_clicked" data-mp_button_text="$9.99/4pm - 5pm" data-datetime="2017-02-24 16:00:00" data-psw_id="588729" id="datetime-588729">
                    <h3 class="pick_top">
                      $9.99
                    </h3>
                    <h4 class="pick_header">
                      4pm - 5pm
                    </h4>
                  </li>
                  <li class="dtbox dt_hour dt_residential_warning_hide dt_hour-type mp-delivery_time_clicked" data-mp_button_text="$9.99/5pm - 6pm" data-datetime="2017-02-24 17:00:00" data-psw_id="588730" id="datetime-588730">
                    <h3 class="pick_top">
                      $9.99
                    </h3>
                    <h4 class="pick_header">
                      5pm - 6pm
                    </h4>
                  </li>
                </ul>
                <ul class="dtpicker dt_date_hour_block" id="date_hours-2017-02-25" style="display:none;">
                  <li class="dtbox dt_hour dt_residential_warning_hide dt_hour-type mp-delivery_time_clicked" data-mp_button_text="$9.99/12pm - 3pm" data-datetime="2017-02-25 12:00:00" data-psw_id="588872" id="datetime-588872">
                    <h3 class="pick_top">
                      $9.99
                    </h3>
                    <h4 class="pick_header">
                      12pm - 3pm
                    </h4>
                  </li>
                  <li class="dtbox dt_hour dt_residential_warning_hide dt_hour-type mp-delivery_time_clicked" data-mp_button_text="$9.99/3pm - 6pm" data-datetime="2017-02-25 15:00:00" data-psw_id="588873" id="datetime-588873">
                    <h3 class="pick_top">
                      $9.99
                    </h3>
                    <h4 class="pick_header">
                      3pm - 6pm
                    </h4>
                  </li>
                </ul>
                <ul class="dtpicker dt_date_hour_block" id="date_hours-2017-02-27" style="display:none;">
                  <li class="dtbox dt_hour dt_residential_warning_hide dt_hour-type mp-delivery_time_clicked" data-mp_button_text="$9.99/11am - 12pm" data-datetime="2017-02-27 11:00:00" data-psw_id="588733" id="datetime-588733">
                    <h3 class="pick_top">
                      $9.99
                    </h3>
                    <h4 class="pick_header">
                      11am - 12pm
                    </h4>
                  </li>
                  <li class="dtbox dt_hour dt_residential_warning_hide dt_hour-type mp-delivery_time_clicked" data-mp_button_text="$9.99/12pm - 1pm" data-datetime="2017-02-27 12:00:00" data-psw_id="588734" id="datetime-588734">
                    <h3 class="pick_top">
                      $9.99
                    </h3>
                    <h4 class="pick_header">
                      12pm - 1pm
                    </h4>
                  </li>
                  <li class="dtbox dt_hour dt_residential_warning_hide dt_hour-type mp-delivery_time_clicked" data-mp_button_text="$9.99/1pm - 2pm" data-datetime="2017-02-27 13:00:00" data-psw_id="588735" id="datetime-588735">
                    <h3 class="pick_top">
                      $9.99
                    </h3>
                    <h4 class="pick_header">
                      1pm - 2pm
                    </h4>
                  </li>
                  <li class="dtbox dt_hour dt_residential_warning_hide dt_hour-type mp-delivery_time_clicked" data-mp_button_text="$9.99/2pm - 3pm" data-datetime="2017-02-27 14:00:00" data-psw_id="588736" id="datetime-588736">
                    <h3 class="pick_top">
                      $9.99
                    </h3>
                    <h4 class="pick_header">
                      2pm - 3pm
                    </h4>
                  </li>
                  <li class="dtbox dt_hour dt_residential_warning_hide dt_hour-type mp-delivery_time_clicked" data-mp_button_text="$9.99/3pm - 4pm" data-datetime="2017-02-27 15:00:00" data-psw_id="588737" id="datetime-588737">
                    <h3 class="pick_top">
                      $9.99
                    </h3>
                    <h4 class="pick_header">
                      3pm - 4pm
                    </h4>
                  </li>
                  <li class="dtbox dt_hour dt_residential_warning_hide dt_hour-type mp-delivery_time_clicked" data-mp_button_text="$9.99/4pm - 5pm" data-datetime="2017-02-27 16:00:00" data-psw_id="588738" id="datetime-588738">
                    <h3 class="pick_top">
                      $9.99
                    </h3>
                    <h4 class="pick_header">
                      4pm - 5pm
                    </h4>
                  </li>
                  <li class="dtbox dt_hour dt_residential_warning_hide dt_hour-type mp-delivery_time_clicked" data-mp_button_text="$9.99/5pm - 6pm" data-datetime="2017-02-27 17:00:00" data-psw_id="588739" id="datetime-588739">
                    <h3 class="pick_top">
                      $9.99
                    </h3>
                    <h4 class="pick_header">
                      5pm - 6pm
                    </h4>
                  </li>
                </ul>
                <ul class="dtpicker dt_date_hour_block" id="date_hours-2017-02-28" style="display:none;">
                  <li class="dtbox dt_hour dt_residential_warning_hide dt_hour-type mp-delivery_time_clicked" data-mp_button_text="$9.99/11am - 12pm" data-datetime="2017-02-28 11:00:00" data-psw_id="588742" id="datetime-588742">
                    <h3 class="pick_top">
                      $9.99
                    </h3>
                    <h4 class="pick_header">
                      11am - 12pm
                    </h4>
                  </li>
                  <li class="dtbox dt_hour dt_residential_warning_hide dt_hour-type mp-delivery_time_clicked" data-mp_button_text="$9.99/12pm - 1pm" data-datetime="2017-02-28 12:00:00" data-psw_id="588743" id="datetime-588743">
                    <h3 class="pick_top">
                      $9.99
                    </h3>
                    <h4 class="pick_header">
                      12pm - 1pm
                    </h4>
                  </li>
                  <li class="dtbox dt_hour dt_residential_warning_hide dt_hour-type mp-delivery_time_clicked" data-mp_button_text="$9.99/1pm - 2pm" data-datetime="2017-02-28 13:00:00" data-psw_id="588744" id="datetime-588744">
                    <h3 class="pick_top">
                      $9.99
                    </h3>
                    <h4 class="pick_header">
                      1pm - 2pm
                    </h4>
                  </li>
                  <li class="dtbox dt_hour dt_residential_warning_hide dt_hour-type mp-delivery_time_clicked" data-mp_button_text="$9.99/2pm - 3pm" data-datetime="2017-02-28 14:00:00" data-psw_id="588745" id="datetime-588745">
                    <h3 class="pick_top">
                      $9.99
                    </h3>
                    <h4 class="pick_header">
                      2pm - 3pm
                    </h4>
                  </li>
                  <li class="dtbox dt_hour dt_residential_warning_hide dt_hour-type mp-delivery_time_clicked" data-mp_button_text="$9.99/3pm - 4pm" data-datetime="2017-02-28 15:00:00" data-psw_id="588746" id="datetime-588746">
                    <h3 class="pick_top">
                      $9.99
                    </h3>
                    <h4 class="pick_header">
                      3pm - 4pm
                    </h4>
                  </li>
                  <li class="dtbox dt_hour dt_residential_warning_hide dt_hour-type mp-delivery_time_clicked" data-mp_button_text="$9.99/4pm - 5pm" data-datetime="2017-02-28 16:00:00" data-psw_id="588747" id="datetime-588747">
                    <h3 class="pick_top">
                      $9.99
                    </h3>
                    <h4 class="pick_header">
                      4pm - 5pm
                    </h4>
                  </li>
                  <li class="dtbox dt_hour dt_residential_warning_hide dt_hour-type mp-delivery_time_clicked" data-mp_button_text="$9.99/5pm - 6pm" data-datetime="2017-02-28 17:00:00" data-psw_id="588748" id="datetime-588748">
                    <h3 class="pick_top">
                      $9.99
                    </h3>
                    <h4 class="pick_header">
                      5pm - 6pm
                    </h4>
                  </li>
                </ul>
                <ul class="dtpicker dt_date_hour_block" id="date_hours-2017-03-01" style="display:none;">
                  <li class="dtbox dt_hour dt_residential_warning_hide dt_hour-type mp-delivery_time_clicked" data-mp_button_text="$9.99/11am - 12pm" data-datetime="2017-03-01 11:00:00" data-psw_id="588751" id="datetime-588751">
                    <h3 class="pick_top">
                      $9.99
                    </h3>
                    <h4 class="pick_header">
                      11am - 12pm
                    </h4>
                  </li>
                  <li class="dtbox dt_hour dt_residential_warning_hide dt_hour-type mp-delivery_time_clicked" data-mp_button_text="$9.99/12pm - 1pm" data-datetime="2017-03-01 12:00:00" data-psw_id="588752" id="datetime-588752">
                    <h3 class="pick_top">
                      $9.99
                    </h3>
                    <h4 class="pick_header">
                      12pm - 1pm
                    </h4>
                  </li>
                  <li class="dtbox dt_hour dt_residential_warning_hide dt_hour-type mp-delivery_time_clicked" data-mp_button_text="$9.99/1pm - 2pm" data-datetime="2017-03-01 13:00:00" data-psw_id="588753" id="datetime-588753">
                    <h3 class="pick_top">
                      $9.99
                    </h3>
                    <h4 class="pick_header">
                      1pm - 2pm
                    </h4>
                  </li>
                  <li class="dtbox dt_hour dt_residential_warning_hide dt_hour-type mp-delivery_time_clicked" data-mp_button_text="$9.99/2pm - 3pm" data-datetime="2017-03-01 14:00:00" data-psw_id="588754" id="datetime-588754">
                    <h3 class="pick_top">
                      $9.99
                    </h3>
                    <h4 class="pick_header">
                      2pm - 3pm
                    </h4>
                  </li>
                  <li class="dtbox dt_hour dt_residential_warning_hide dt_hour-type mp-delivery_time_clicked" data-mp_button_text="$9.99/3pm - 4pm" data-datetime="2017-03-01 15:00:00" data-psw_id="588755" id="datetime-588755">
                    <h3 class="pick_top">
                      $9.99
                    </h3>
                    <h4 class="pick_header">
                      3pm - 4pm
                    </h4>
                  </li>
                  <li class="dtbox dt_hour dt_residential_warning_hide dt_hour-type mp-delivery_time_clicked" data-mp_button_text="$9.99/4pm - 5pm" data-datetime="2017-03-01 16:00:00" data-psw_id="588756" id="datetime-588756">
                    <h3 class="pick_top">
                      $9.99
                    </h3>
                    <h4 class="pick_header">
                      4pm - 5pm
                    </h4>
                  </li>
                  <li class="dtbox dt_hour dt_residential_warning_hide dt_hour-type mp-delivery_time_clicked" data-mp_button_text="$9.99/5pm - 6pm" data-datetime="2017-03-01 17:00:00" data-psw_id="588757" id="datetime-588757">
                    <h3 class="pick_top">
                      $9.99
                    </h3>
                    <h4 class="pick_header">
                      5pm - 6pm
                    </h4>
                  </li>
                </ul>
                <ul class="dtpicker dt_date_hour_block" id="date_hours-2017-03-02" style="display:none;">
                  <li class="dtbox dt_hour dt_residential_warning_hide dt_hour-type mp-delivery_time_clicked" data-mp_button_text="$9.99/11am - 12pm" data-datetime="2017-03-02 11:00:00" data-psw_id="588760" id="datetime-588760">
                    <h3 class="pick_top">
                      $9.99
                    </h3>
                    <h4 class="pick_header">
                      11am - 12pm
                    </h4>
                  </li>
                  <li class="dtbox dt_hour dt_residential_warning_hide dt_hour-type mp-delivery_time_clicked" data-mp_button_text="$9.99/12pm - 1pm" data-datetime="2017-03-02 12:00:00" data-psw_id="588761" id="datetime-588761">
                    <h3 class="pick_top">
                      $9.99
                    </h3>
                    <h4 class="pick_header">
                      12pm - 1pm
                    </h4>
                  </li>
                  <li class="dtbox dt_hour dt_residential_warning_hide dt_hour-type mp-delivery_time_clicked" data-mp_button_text="$9.99/1pm - 2pm" data-datetime="2017-03-02 13:00:00" data-psw_id="588762" id="datetime-588762">
                    <h3 class="pick_top">
                      $9.99
                    </h3>
                    <h4 class="pick_header">
                      1pm - 2pm
                    </h4>
                  </li>
                  <li class="dtbox dt_hour dt_residential_warning_hide dt_hour-type mp-delivery_time_clicked" data-mp_button_text="$9.99/2pm - 3pm" data-datetime="2017-03-02 14:00:00" data-psw_id="588763" id="datetime-588763">
                    <h3 class="pick_top">
                      $9.99
                    </h3>
                    <h4 class="pick_header">
                      2pm - 3pm
                    </h4>
                  </li>
                  <li class="dtbox dt_hour dt_residential_warning_hide dt_hour-type mp-delivery_time_clicked" data-mp_button_text="$9.99/3pm - 4pm" data-datetime="2017-03-02 15:00:00" data-psw_id="588764" id="datetime-588764">
                    <h3 class="pick_top">
                      $9.99
                    </h3>
                    <h4 class="pick_header">
                      3pm - 4pm
                    </h4>
                  </li>
                  <li class="dtbox dt_hour dt_residential_warning_hide dt_hour-type mp-delivery_time_clicked" data-mp_button_text="$9.99/4pm - 5pm" data-datetime="2017-03-02 16:00:00" data-psw_id="588765" id="datetime-588765">
                    <h3 class="pick_top">
                      $9.99
                    </h3>
                    <h4 class="pick_header">
                      4pm - 5pm
                    </h4>
                  </li>
                  <li class="dtbox dt_hour dt_residential_warning_hide dt_hour-type mp-delivery_time_clicked" data-mp_button_text="$9.99/5pm - 6pm" data-datetime="2017-03-02 17:00:00" data-psw_id="588766" id="datetime-588766">
                    <h3 class="pick_top">
                      $9.99
                    </h3>
                    <h4 class="pick_header">
                      5pm - 6pm
                    </h4>
                  </li>
                </ul>
                <ul class="dtpicker dt_date_hour_block" id="date_hours-2017-03-03" style="display:none;">
                  <li class="dtbox dt_hour dt_residential_warning_hide dt_hour-type mp-delivery_time_clicked" data-mp_button_text="$9.99/11am - 12pm" data-datetime="2017-03-03 11:00:00" data-psw_id="588769" id="datetime-588769">
                    <h3 class="pick_top">
                      $9.99
                    </h3>
                    <h4 class="pick_header">
                      11am - 12pm
                    </h4>
                  </li>
                  <li class="dtbox dt_hour dt_residential_warning_hide dt_hour-type mp-delivery_time_clicked" data-mp_button_text="$9.99/12pm - 1pm" data-datetime="2017-03-03 12:00:00" data-psw_id="588770" id="datetime-588770">
                    <h3 class="pick_top">
                      $9.99
                    </h3>
                    <h4 class="pick_header">
                      12pm - 1pm
                    </h4>
                  </li>
                  <li class="dtbox dt_hour dt_residential_warning_hide dt_hour-type mp-delivery_time_clicked" data-mp_button_text="$9.99/1pm - 2pm" data-datetime="2017-03-03 13:00:00" data-psw_id="588771" id="datetime-588771">
                    <h3 class="pick_top">
                      $9.99
                    </h3>
                    <h4 class="pick_header">
                      1pm - 2pm
                    </h4>
                  </li>
                  <li class="dtbox dt_hour dt_residential_warning_hide dt_hour-type mp-delivery_time_clicked" data-mp_button_text="$9.99/2pm - 3pm" data-datetime="2017-03-03 14:00:00" data-psw_id="588772" id="datetime-588772">
                    <h3 class="pick_top">
                      $9.99
                    </h3>
                    <h4 class="pick_header">
                      2pm - 3pm
                    </h4>
                  </li>
                  <li class="dtbox dt_hour dt_residential_warning_hide dt_hour-type mp-delivery_time_clicked" data-mp_button_text="$9.99/3pm - 4pm" data-datetime="2017-03-03 15:00:00" data-psw_id="588773" id="datetime-588773">
                    <h3 class="pick_top">
                      $9.99
                    </h3>
                    <h4 class="pick_header">
                      3pm - 4pm
                    </h4>
                  </li>
                  <li class="dtbox dt_hour dt_residential_warning_hide dt_hour-type mp-delivery_time_clicked" data-mp_button_text="$9.99/4pm - 5pm" data-datetime="2017-03-03 16:00:00" data-psw_id="588774" id="datetime-588774">
                    <h3 class="pick_top">
                      $9.99
                    </h3>
                    <h4 class="pick_header">
                      4pm - 5pm
                    </h4>
                  </li>
                  <li class="dtbox dt_hour dt_residential_warning_hide dt_hour-type mp-delivery_time_clicked" data-mp_button_text="$9.99/5pm - 6pm" data-datetime="2017-03-03 17:00:00" data-psw_id="588775" id="datetime-588775">
                    <h3 class="pick_top">
                      $9.99
                    </h3>
                    <h4 class="pick_header">
                      5pm - 6pm
                    </h4>
                  </li>
                </ul>
                <ul class="dtpicker dt_date_hour_block" id="date_hours-2017-03-04" style="display:none;">
                  <li class="dtbox dt_hour dt_residential_warning_hide dt_hour-type mp-delivery_time_clicked" data-mp_button_text="$9.99/12pm - 3pm" data-datetime="2017-03-04 12:00:00" data-psw_id="588876" id="datetime-588876">
                    <h3 class="pick_top">
                      $9.99
                    </h3>
                    <h4 class="pick_header">
                      12pm - 3pm
                    </h4>
                  </li>
                  <li class="dtbox dt_hour dt_residential_warning_hide dt_hour-type mp-delivery_time_clicked" data-mp_button_text="$9.99/3pm - 6pm" data-datetime="2017-03-04 15:00:00" data-psw_id="588877" id="datetime-588877">
                    <h3 class="pick_top">
                      $9.99
                    </h3>
                    <h4 class="pick_header">
                      3pm - 6pm
                    </h4>
                  </li>
                </ul>
                <ul class="dtpicker dt_date_hour_block" id="date_hours-2017-03-06" style="display:none;">
                  <li class="dtbox dt_hour dt_residential_warning_hide dt_hour-type mp-delivery_time_clicked" data-mp_button_text="$9.99/11am - 12pm" data-datetime="2017-03-06 11:00:00" data-psw_id="588778" id="datetime-588778">
                    <h3 class="pick_top">
                      $9.99
                    </h3>
                    <h4 class="pick_header">
                      11am - 12pm
                    </h4>
                  </li>
                  <li class="dtbox dt_hour dt_residential_warning_hide dt_hour-type mp-delivery_time_clicked" data-mp_button_text="$9.99/12pm - 1pm" data-datetime="2017-03-06 12:00:00" data-psw_id="588779" id="datetime-588779">
                    <h3 class="pick_top">
                      $9.99
                    </h3>
                    <h4 class="pick_header">
                      12pm - 1pm
                    </h4>
                  </li>
                  <li class="dtbox dt_hour dt_residential_warning_hide dt_hour-type mp-delivery_time_clicked" data-mp_button_text="$9.99/1pm - 2pm" data-datetime="2017-03-06 13:00:00" data-psw_id="588780" id="datetime-588780">
                    <h3 class="pick_top">
                      $9.99
                    </h3>
                    <h4 class="pick_header">
                      1pm - 2pm
                    </h4>
                  </li>
                  <li class="dtbox dt_hour dt_residential_warning_hide dt_hour-type mp-delivery_time_clicked" data-mp_button_text="$9.99/2pm - 3pm" data-datetime="2017-03-06 14:00:00" data-psw_id="588781" id="datetime-588781">
                    <h3 class="pick_top">
                      $9.99
                    </h3>
                    <h4 class="pick_header">
                      2pm - 3pm
                    </h4>
                  </li>
                  <li class="dtbox dt_hour dt_residential_warning_hide dt_hour-type mp-delivery_time_clicked" data-mp_button_text="$9.99/3pm - 4pm" data-datetime="2017-03-06 15:00:00" data-psw_id="588782" id="datetime-588782">
                    <h3 class="pick_top">
                      $9.99
                    </h3>
                    <h4 class="pick_header">
                      3pm - 4pm
                    </h4>
                  </li>
                  <li class="dtbox dt_hour dt_residential_warning_hide dt_hour-type mp-delivery_time_clicked" data-mp_button_text="$9.99/4pm - 5pm" data-datetime="2017-03-06 16:00:00" data-psw_id="588783" id="datetime-588783">
                    <h3 class="pick_top">
                      $9.99
                    </h3>
                    <h4 class="pick_header">
                      4pm - 5pm
                    </h4>
                  </li>
                  <li class="dtbox dt_hour dt_residential_warning_hide dt_hour-type mp-delivery_time_clicked" data-mp_button_text="$9.99/5pm - 6pm" data-datetime="2017-03-06 17:00:00" data-psw_id="588784" id="datetime-588784">
                    <h3 class="pick_top">
                      $9.99
                    </h3>
                    <h4 class="pick_header">
                      5pm - 6pm
                    </h4>
                  </li>
                </ul>
                <ul class="dtpicker dt_date_hour_block" id="date_hours-2017-03-07" style="display:none;">
                  <li class="dtbox dt_hour dt_residential_warning_hide dt_hour-type mp-delivery_time_clicked" data-mp_button_text="$9.99/11am - 12pm" data-datetime="2017-03-07 11:00:00" data-psw_id="588787" id="datetime-588787">
                    <h3 class="pick_top">
                      $9.99
                    </h3>
                    <h4 class="pick_header">
                      11am - 12pm
                    </h4>
                  </li>
                  <li class="dtbox dt_hour dt_residential_warning_hide dt_hour-type mp-delivery_time_clicked" data-mp_button_text="$9.99/12pm - 1pm" data-datetime="2017-03-07 12:00:00" data-psw_id="588788" id="datetime-588788">
                    <h3 class="pick_top">
                      $9.99
                    </h3>
                    <h4 class="pick_header">
                      12pm - 1pm
                    </h4>
                  </li>
                  <li class="dtbox dt_hour dt_residential_warning_hide dt_hour-type mp-delivery_time_clicked" data-mp_button_text="$9.99/1pm - 2pm" data-datetime="2017-03-07 13:00:00" data-psw_id="588789" id="datetime-588789">
                    <h3 class="pick_top">
                      $9.99
                    </h3>
                    <h4 class="pick_header">
                      1pm - 2pm
                    </h4>
                  </li>
                  <li class="dtbox dt_hour dt_residential_warning_hide dt_hour-type mp-delivery_time_clicked" data-mp_button_text="$9.99/2pm - 3pm" data-datetime="2017-03-07 14:00:00" data-psw_id="588790" id="datetime-588790">
                    <h3 class="pick_top">
                      $9.99
                    </h3>
                    <h4 class="pick_header">
                      2pm - 3pm
                    </h4>
                  </li>
                  <li class="dtbox dt_hour dt_residential_warning_hide dt_hour-type mp-delivery_time_clicked" data-mp_button_text="$9.99/3pm - 4pm" data-datetime="2017-03-07 15:00:00" data-psw_id="588791" id="datetime-588791">
                    <h3 class="pick_top">
                      $9.99
                    </h3>
                    <h4 class="pick_header">
                      3pm - 4pm
                    </h4>
                  </li>
                  <li class="dtbox dt_hour dt_residential_warning_hide dt_hour-type mp-delivery_time_clicked" data-mp_button_text="$9.99/4pm - 5pm" data-datetime="2017-03-07 16:00:00" data-psw_id="588792" id="datetime-588792">
                    <h3 class="pick_top">
                      $9.99
                    </h3>
                    <h4 class="pick_header">
                      4pm - 5pm
                    </h4>
                  </li>
                  <li class="dtbox dt_hour dt_residential_warning_hide dt_hour-type mp-delivery_time_clicked" data-mp_button_text="$9.99/5pm - 6pm" data-datetime="2017-03-07 17:00:00" data-psw_id="588793" id="datetime-588793">
                    <h3 class="pick_top">
                      $9.99
                    </h3>
                    <h4 class="pick_header">
                      5pm - 6pm
                    </h4>
                  </li>
                </ul>
                <ul class="dtpicker dt_date_hour_block" id="date_hours-2017-03-08" style="display:none;">
                  <li class="dtbox dt_hour dt_residential_warning_hide dt_hour-type mp-delivery_time_clicked" data-mp_button_text="$9.99/11am - 12pm" data-datetime="2017-03-08 11:00:00" data-psw_id="588796" id="datetime-588796">
                    <h3 class="pick_top">
                      $9.99
                    </h3>
                    <h4 class="pick_header">
                      11am - 12pm
                    </h4>
                  </li>
                  <li class="dtbox dt_hour dt_residential_warning_hide dt_hour-type mp-delivery_time_clicked" data-mp_button_text="$9.99/12pm - 1pm" data-datetime="2017-03-08 12:00:00" data-psw_id="588797" id="datetime-588797">
                    <h3 class="pick_top">
                      $9.99
                    </h3>
                    <h4 class="pick_header">
                      12pm - 1pm
                    </h4>
                  </li>
                  <li class="dtbox dt_hour dt_residential_warning_hide dt_hour-type mp-delivery_time_clicked" data-mp_button_text="$9.99/1pm - 2pm" data-datetime="2017-03-08 13:00:00" data-psw_id="588798" id="datetime-588798">
                    <h3 class="pick_top">
                      $9.99
                    </h3>
                    <h4 class="pick_header">
                      1pm - 2pm
                    </h4>
                  </li>
                  <li class="dtbox dt_hour dt_residential_warning_hide dt_hour-type mp-delivery_time_clicked" data-mp_button_text="$9.99/2pm - 3pm" data-datetime="2017-03-08 14:00:00" data-psw_id="588799" id="datetime-588799">
                    <h3 class="pick_top">
                      $9.99
                    </h3>
                    <h4 class="pick_header">
                      2pm - 3pm
                    </h4>
                  </li>
                  <li class="dtbox dt_hour dt_residential_warning_hide dt_hour-type mp-delivery_time_clicked" data-mp_button_text="$9.99/3pm - 4pm" data-datetime="2017-03-08 15:00:00" data-psw_id="588800" id="datetime-588800">
                    <h3 class="pick_top">
                      $9.99
                    </h3>
                    <h4 class="pick_header">
                      3pm - 4pm
                    </h4>
                  </li>
                  <li class="dtbox dt_hour dt_residential_warning_hide dt_hour-type mp-delivery_time_clicked" data-mp_button_text="$9.99/4pm - 5pm" data-datetime="2017-03-08 16:00:00" data-psw_id="588801" id="datetime-588801">
                    <h3 class="pick_top">
                      $9.99
                    </h3>
                    <h4 class="pick_header">
                      4pm - 5pm
                    </h4>
                  </li>
                  <li class="dtbox dt_hour dt_residential_warning_hide dt_hour-type mp-delivery_time_clicked" data-mp_button_text="$9.99/5pm - 6pm" data-datetime="2017-03-08 17:00:00" data-psw_id="588802" id="datetime-588802">
                    <h3 class="pick_top">
                      $9.99
                    </h3>
                    <h4 class="pick_header">
                      5pm - 6pm
                    </h4>
                  </li>
                </ul>
                <ul class="dtpicker dt_date_hour_block" id="date_hours-2017-03-09" style="display:none;">
                  <li class="dtbox dt_hour dt_residential_warning_hide dt_hour-type mp-delivery_time_clicked" data-mp_button_text="$9.99/11am - 12pm" data-datetime="2017-03-09 11:00:00" data-psw_id="588805" id="datetime-588805">
                    <h3 class="pick_top">
                      $9.99
                    </h3>
                    <h4 class="pick_header">
                      11am - 12pm
                    </h4>
                  </li>
                  <li class="dtbox dt_hour dt_residential_warning_hide dt_hour-type mp-delivery_time_clicked" data-mp_button_text="$9.99/12pm - 1pm" data-datetime="2017-03-09 12:00:00" data-psw_id="588806" id="datetime-588806">
                    <h3 class="pick_top">
                      $9.99
                    </h3>
                    <h4 class="pick_header">
                      12pm - 1pm
                    </h4>
                  </li>
                  <li class="dtbox dt_hour dt_residential_warning_hide dt_hour-type mp-delivery_time_clicked" data-mp_button_text="$9.99/1pm - 2pm" data-datetime="2017-03-09 13:00:00" data-psw_id="588807" id="datetime-588807">
                    <h3 class="pick_top">
                      $9.99
                    </h3>
                    <h4 class="pick_header">
                      1pm - 2pm
                    </h4>
                  </li>
                  <li class="dtbox dt_hour dt_residential_warning_hide dt_hour-type mp-delivery_time_clicked" data-mp_button_text="$9.99/2pm - 3pm" data-datetime="2017-03-09 14:00:00" data-psw_id="588808" id="datetime-588808">
                    <h3 class="pick_top">
                      $9.99
                    </h3>
                    <h4 class="pick_header">
                      2pm - 3pm
                    </h4>
                  </li>
                  <li class="dtbox dt_hour dt_residential_warning_hide dt_hour-type mp-delivery_time_clicked" data-mp_button_text="$9.99/3pm - 4pm" data-datetime="2017-03-09 15:00:00" data-psw_id="588809" id="datetime-588809">
                    <h3 class="pick_top">
                      $9.99
                    </h3>
                    <h4 class="pick_header">
                      3pm - 4pm
                    </h4>
                  </li>
                  <li class="dtbox dt_hour dt_residential_warning_hide dt_hour-type mp-delivery_time_clicked" data-mp_button_text="$9.99/4pm - 5pm" data-datetime="2017-03-09 16:00:00" data-psw_id="588810" id="datetime-588810">
                    <h3 class="pick_top">
                      $9.99
                    </h3>
                    <h4 class="pick_header">
                      4pm - 5pm
                    </h4>
                  </li>
                  <li class="dtbox dt_hour dt_residential_warning_hide dt_hour-type mp-delivery_time_clicked" data-mp_button_text="$9.99/5pm - 6pm" data-datetime="2017-03-09 17:00:00" data-psw_id="588811" id="datetime-588811">
                    <h3 class="pick_top">
                      $9.99
                    </h3>
                    <h4 class="pick_header">
                      5pm - 6pm
                    </h4>
                  </li>
                </ul>
                <ul class="dtpicker dt_date_hour_block" id="date_hours-2017-03-10" style="display:none;">
                  <li class="dtbox dt_hour dt_residential_warning_hide dt_hour-type mp-delivery_time_clicked" data-mp_button_text="$9.99/11am - 12pm" data-datetime="2017-03-10 11:00:00" data-psw_id="588814" id="datetime-588814">
                    <h3 class="pick_top">
                      $9.99
                    </h3>
                    <h4 class="pick_header">
                      11am - 12pm
                    </h4>
                  </li>
                  <li class="dtbox dt_hour dt_residential_warning_hide dt_hour-type mp-delivery_time_clicked" data-mp_button_text="$9.99/12pm - 1pm" data-datetime="2017-03-10 12:00:00" data-psw_id="588815" id="datetime-588815">
                    <h3 class="pick_top">
                      $9.99
                    </h3>
                    <h4 class="pick_header">
                      12pm - 1pm
                    </h4>
                  </li>
                  <li class="dtbox dt_hour dt_residential_warning_hide dt_hour-type mp-delivery_time_clicked" data-mp_button_text="$9.99/1pm - 2pm" data-datetime="2017-03-10 13:00:00" data-psw_id="588816" id="datetime-588816">
                    <h3 class="pick_top">
                      $9.99
                    </h3>
                    <h4 class="pick_header">
                      1pm - 2pm
                    </h4>
                  </li>
                  <li class="dtbox dt_hour dt_residential_warning_hide dt_hour-type mp-delivery_time_clicked" data-mp_button_text="$9.99/2pm - 3pm" data-datetime="2017-03-10 14:00:00" data-psw_id="588817" id="datetime-588817">
                    <h3 class="pick_top">
                      $9.99
                    </h3>
                    <h4 class="pick_header">
                      2pm - 3pm
                    </h4>
                  </li>
                  <li class="dtbox dt_hour dt_residential_warning_hide dt_hour-type mp-delivery_time_clicked" data-mp_button_text="$9.99/3pm - 4pm" data-datetime="2017-03-10 15:00:00" data-psw_id="588818" id="datetime-588818">
                    <h3 class="pick_top">
                      $9.99
                    </h3>
                    <h4 class="pick_header">
                      3pm - 4pm
                    </h4>
                  </li>
                  <li class="dtbox dt_hour dt_residential_warning_hide dt_hour-type mp-delivery_time_clicked" data-mp_button_text="$9.99/4pm - 5pm" data-datetime="2017-03-10 16:00:00" data-psw_id="588819" id="datetime-588819">
                    <h3 class="pick_top">
                      $9.99
                    </h3>
                    <h4 class="pick_header">
                      4pm - 5pm
                    </h4>
                  </li>
                  <li class="dtbox dt_hour dt_residential_warning_hide dt_hour-type mp-delivery_time_clicked" data-mp_button_text="$9.99/5pm - 6pm" data-datetime="2017-03-10 17:00:00" data-psw_id="588820" id="datetime-588820">
                    <h3 class="pick_top">
                      $9.99
                    </h3>
                    <h4 class="pick_header">
                      5pm - 6pm
                    </h4>
                  </li>
                </ul>
                <ul class="dtpicker dt_date_hour_block" id="date_hours-2017-03-11" style="display:none;">
                  <li class="dtbox dt_hour dt_residential_warning_hide dt_hour-type mp-delivery_time_clicked" data-mp_button_text="$9.99/12pm - 3pm" data-datetime="2017-03-11 12:00:00" data-psw_id="588880" id="datetime-588880">
                    <h3 class="pick_top">
                      $9.99
                    </h3>
                    <h4 class="pick_header">
                      12pm - 3pm
                    </h4>
                  </li>
                  <li class="dtbox dt_hour dt_residential_warning_hide dt_hour-type mp-delivery_time_clicked" data-mp_button_text="$9.99/3pm - 6pm" data-datetime="2017-03-11 15:00:00" data-psw_id="588881" id="datetime-588881">
                    <h3 class="pick_top">
                      $9.99
                    </h3>
                    <h4 class="pick_header">
                      3pm - 6pm
                    </h4>
                  </li>
                </ul>
                <ul class="dtpicker dt_date_hour_block" id="date_hours-2017-03-13" style="display:none;">
                  <li class="dtbox dt_hour dt_residential_warning_hide dt_hour-type mp-delivery_time_clicked" data-mp_button_text="$9.99/11am - 12pm" data-datetime="2017-03-13 11:00:00" data-psw_id="588823" id="datetime-588823">
                    <h3 class="pick_top">
                      $9.99
                    </h3>
                    <h4 class="pick_header">
                      11am - 12pm
                    </h4>
                  </li>
                  <li class="dtbox dt_hour dt_residential_warning_hide dt_hour-type mp-delivery_time_clicked" data-mp_button_text="$9.99/12pm - 1pm" data-datetime="2017-03-13 12:00:00" data-psw_id="588824" id="datetime-588824">
                    <h3 class="pick_top">
                      $9.99
                    </h3>
                    <h4 class="pick_header">
                      12pm - 1pm
                    </h4>
                  </li>
                  <li class="dtbox dt_hour dt_residential_warning_hide dt_hour-type mp-delivery_time_clicked" data-mp_button_text="$9.99/1pm - 2pm" data-datetime="2017-03-13 13:00:00" data-psw_id="588825" id="datetime-588825">
                    <h3 class="pick_top">
                      $9.99
                    </h3>
                    <h4 class="pick_header">
                      1pm - 2pm
                    </h4>
                  </li>
                  <li class="dtbox dt_hour dt_residential_warning_hide dt_hour-type mp-delivery_time_clicked" data-mp_button_text="$9.99/2pm - 3pm" data-datetime="2017-03-13 14:00:00" data-psw_id="588826" id="datetime-588826">
                    <h3 class="pick_top">
                      $9.99
                    </h3>
                    <h4 class="pick_header">
                      2pm - 3pm
                    </h4>
                  </li>
                  <li class="dtbox dt_hour dt_residential_warning_hide dt_hour-type mp-delivery_time_clicked" data-mp_button_text="$9.99/3pm - 4pm" data-datetime="2017-03-13 15:00:00" data-psw_id="588827" id="datetime-588827">
                    <h3 class="pick_top">
                      $9.99
                    </h3>
                    <h4 class="pick_header">
                      3pm - 4pm
                    </h4>
                  </li>
                  <li class="dtbox dt_hour dt_residential_warning_hide dt_hour-type mp-delivery_time_clicked" data-mp_button_text="$9.99/4pm - 5pm" data-datetime="2017-03-13 16:00:00" data-psw_id="588828" id="datetime-588828">
                    <h3 class="pick_top">
                      $9.99
                    </h3>
                    <h4 class="pick_header">
                      4pm - 5pm
                    </h4>
                  </li>
                  <li class="dtbox dt_hour dt_residential_warning_hide dt_hour-type mp-delivery_time_clicked" data-mp_button_text="$9.99/5pm - 6pm" data-datetime="2017-03-13 17:00:00" data-psw_id="588829" id="datetime-588829">
                    <h3 class="pick_top">
                      $9.99
                    </h3>
                    <h4 class="pick_header">
                      5pm - 6pm
                    </h4>
                  </li>
                </ul>
                <ul class="dtpicker dt_date_hour_block" id="date_hours-2017-03-14" style="display:none;">
                  <li class="dtbox dt_hour dt_residential_warning_hide dt_hour-type mp-delivery_time_clicked" data-mp_button_text="$9.99/11am - 12pm" data-datetime="2017-03-14 11:00:00" data-psw_id="588832" id="datetime-588832">
                    <h3 class="pick_top">
                      $9.99
                    </h3>
                    <h4 class="pick_header">
                      11am - 12pm
                    </h4>
                  </li>
                  <li class="dtbox dt_hour dt_residential_warning_hide dt_hour-type mp-delivery_time_clicked" data-mp_button_text="$9.99/12pm - 1pm" data-datetime="2017-03-14 12:00:00" data-psw_id="588833" id="datetime-588833">
                    <h3 class="pick_top">
                      $9.99
                    </h3>
                    <h4 class="pick_header">
                      12pm - 1pm
                    </h4>
                  </li>
                  <li class="dtbox dt_hour dt_residential_warning_hide dt_hour-type mp-delivery_time_clicked" data-mp_button_text="$9.99/1pm - 2pm" data-datetime="2017-03-14 13:00:00" data-psw_id="588834" id="datetime-588834">
                    <h3 class="pick_top">
                      $9.99
                    </h3>
                    <h4 class="pick_header">
                      1pm - 2pm
                    </h4>
                  </li>
                  <li class="dtbox dt_hour dt_residential_warning_hide dt_hour-type mp-delivery_time_clicked" data-mp_button_text="$9.99/2pm - 3pm" data-datetime="2017-03-14 14:00:00" data-psw_id="588835" id="datetime-588835">
                    <h3 class="pick_top">
                      $9.99
                    </h3>
                    <h4 class="pick_header">
                      2pm - 3pm
                    </h4>
                  </li>
                  <li class="dtbox dt_hour dt_residential_warning_hide dt_hour-type mp-delivery_time_clicked" data-mp_button_text="$9.99/3pm - 4pm" data-datetime="2017-03-14 15:00:00" data-psw_id="588836" id="datetime-588836">
                    <h3 class="pick_top">
                      $9.99
                    </h3>
                    <h4 class="pick_header">
                      3pm - 4pm
                    </h4>
                  </li>
                  <li class="dtbox dt_hour dt_residential_warning_hide dt_hour-type mp-delivery_time_clicked" data-mp_button_text="$9.99/4pm - 5pm" data-datetime="2017-03-14 16:00:00" data-psw_id="588837" id="datetime-588837">
                    <h3 class="pick_top">
                      $9.99
                    </h3>
                    <h4 class="pick_header">
                      4pm - 5pm
                    </h4>
                  </li>
                  <li class="dtbox dt_hour dt_residential_warning_hide dt_hour-type mp-delivery_time_clicked" data-mp_button_text="$9.99/5pm - 6pm" data-datetime="2017-03-14 17:00:00" data-psw_id="588838" id="datetime-588838">
                    <h3 class="pick_top">
                      $9.99
                    </h3>
                    <h4 class="pick_header">
                      5pm - 6pm
                    </h4>
                  </li>
                </ul>
                <ul class="dtpicker dt_date_hour_block" id="date_hours-2017-03-15" style="display:none;">




                  <li class="dtbox dt_hour dt_residential_warning_hide dt_hour-type mp-delivery_time_clicked" data-mp_button_text="$9.99/11am - 12pm" data-datetime="2017-03-15 11:00:00" data-psw_id="588841" id="datetime-588841">
                    <h3 class="pick_top">
                      $9.99
                    </h3>
                    <h4 class="pick_header">

                      11am - 12pm
                    </h4>
                  </li>
                  <li class="dtbox dt_hour dt_residential_warning_hide dt_hour-type mp-delivery_time_clicked" data-mp_button_text="$9.99/12pm - 1pm" data-datetime="2017-03-15 12:00:00" data-psw_id="588842" id="datetime-588842">
                    <h3 class="pick_top">
                      $9.99
                    </h3>
                    <h4 class="pick_header">
                      12pm - 1pm
                    </h4>
                  </li>
                  <li class="dtbox dt_hour dt_residential_warning_hide dt_hour-type mp-delivery_time_clicked" data-mp_button_text="$9.99/1pm - 2pm" data-datetime="2017-03-15 13:00:00" data-psw_id="588843" id="datetime-588843">
                    <h3 class="pick_top">
                      $9.99
                    </h3>
                    <h4 class="pick_header">
                      1pm - 2pm
                    </h4>
                  </li>
                  <li class="dtbox dt_hour dt_residential_warning_hide dt_hour-type mp-delivery_time_clicked" data-mp_button_text="$9.99/2pm - 3pm" data-datetime="2017-03-15 14:00:00" data-psw_id="588844" id="datetime-588844">
                    <h3 class="pick_top">
                      $9.99
                    </h3>
                    <h4 class="pick_header">
                      2pm - 3pm
                    </h4>
                  </li>
                  <li class="dtbox dt_hour dt_residential_warning_hide dt_hour-type mp-delivery_time_clicked" data-mp_button_text="$9.99/3pm - 4pm" data-datetime="2017-03-15 15:00:00" data-psw_id="588845" id="datetime-588845">
                    <h3 class="pick_top">
                      $9.99
                    </h3>
                    <h4 class="pick_header">
                      3pm - 4pm
                    </h4>
                  </li>
                  <li class="dtbox dt_hour dt_residential_warning_hide dt_hour-type mp-delivery_time_clicked" data-mp_button_text="$9.99/4pm - 5pm" data-datetime="2017-03-15 16:00:00" data-psw_id="588846" id="datetime-588846">
                    <h3 class="pick_top">
                      $9.99
                    </h3>
                    <h4 class="pick_header">
                      4pm - 5pm
                    </h4>
                  </li>
                  <li class="dtbox dt_hour dt_residential_warning_hide dt_hour-type mp-delivery_time_clicked" data-mp_button_text="$9.99/5pm - 6pm" data-datetime="2017-03-15 17:00:00" data-psw_id="588847" id="datetime-588847">
                    <h3 class="pick_top">
                      $9.99
                    </h3>
                    <h4 class="pick_header">
                      5pm - 6pm
                    </h4>
                  </li>
                </ul>
              </div>
            </div>
            <div id="residential_warning">

            </div>
            <div id="next-alone" class="five columns omega wrap-magic">
              <div class="row dt_submit">

  <%= cookies[:time] %>

                <%= form_for @when, :url => url_for(:controller => 'whens', :action => 'create') do |f| %>


                    <%= f.hidden_field :date, :value => cookies[:date] %>


                    <%= f.submit "Далее", :id => "submit-to-me" %>
                <% end %>




              </div>
            </div>
          </div>
        </div>
        <div class="six columns">
          <div class="six columns well" id="who_summary">
            <span class="edit_icon"><a href="/checkout/delivery"><i class="fa fa-pencil"></i></a></span>
            <div class="mobile_cart_column">
              <table class="order_tracker">
                <tr height="10">
                  <td colspan="2"></td>
                </tr>
                <tr class="checkout_row">
                  <td class="table_left_col">
                    Кому
                  </td>
                  <td class="table_full_right_col">
                    <%= @order.delivery.first_name %>
                  </td>
                </tr>
                <tr class="checkout_row">
                  <td class="table_left_col">
                    Телефон
                  </td>
                  <td class="table_full_right_col">
                    <%= @order.delivery.phone_number %>
                  </td>
                </tr>
                <tr class="checkout_row">
                  <td class="table_left_col">
                    Адрес
                  </td>
                  <td class="table_full_right_col">
                    <%= @order.delivery.address %>
                  </td>
                </tr>
                <tr class="checkout_row">
                  <td class="table_left_col">
                    &nbsp;
                  </td>
                  <td class="table_full_right_col">
                    Кв. <%= @order.delivery.address_apartment %>
                  </td>
                </tr>
                <tr height="10">
                  <td colspan="3"></td>
                </tr>
              </table>
            </div>
          </div>
          <div class="six columns well" id="when_summary">
            <span class="edit_icon"><a href="/checkout/when"><i class="fa fa-pencil"></i></a></span>
            <div class="mobile_cart_column">
              <table class="order_tracker">
                <tr height="10">
                  <td colspan="3"></td>
                </tr>
                <tr class="checkout_row" style="border-bottom:1px solid #eeeeee">
                  <td style="width:56px;" class="table_left_col">
                    Дата
                  </td>
                  <td class="table_full_right_col", id="date_inserted">
                    Пятница, 24 февр.
                  </td>
                </tr>
                <tr class="checkout_row">
                  <td class="table_left_col">
                    Время
                  </td>
                  <td class="table_full_right_col", id="time_inserted">

                  11 - 12

                  </td>
                </tr>
                <tr height="10">
                  <td></td>
                </tr>
              </table>
            </div>
          </div>
          <div class="six columns well" id="cart_summary_log">
            <span class="edit_icon"><a href="/cart"><i class="fa fa-pencil"></i></a></span>
            <div class="mobile_cart_column">
              <table class="order_tracker">
                <tr height="10">
                  <td></td>
                </tr>

                <% @order.line_items.each do |item| %>
                <tr class="table_product_row">



                  <td class="table_product_img">
                    <%= image_tag(item.product.image_url_cart_small, :class => "table_icon") %>
                    </td>
                  <td class="table_product_name">
                    <%= item.product.rus_title %>
                  </td>
                  <td class="table_product_price">
                    <%= item.product.price %>р.
                  </td>

                </tr>
                  <% end %>

                <tr>
                  <td class="table_left_col">
                    &nbsp;
                  </td>
                  <td class="table_row_title">
                    Delivery
                  </td>
                  <td class="table_row_result">
                    <em>TBD</em>
                  </td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="fb-root"></div>
<div class="arrow_box_email-capture" id="email-capture-modal" style="display:none;" data-backdrop="static" data-keyboard="false">
  <div class="bottom-layer">
    <div class="modal-body">
      <img class="modal-bg-img" src="https://fdn.bloomthat.com/sweet_pics/home/2015/6/bloomthat-email-modal-bg@1100px.jpg" alt="BloomThat Send Something" title="BloomThat Send Something">
      <div id="before-jesus-a">
        <div class="modal-over-body">
          <h2 class="email-cap-head">
            There's something<br>
            you should know.
          </h2>
        </div>
        <div class="modal-over-body-cta">
          <h3 class="email-cap-sub">
            Sign up for our emails &#43; find out.
          </h3>
          <h4 class="email-cap-small">
            (You'll also get <strong>$5 off</strong> your first order for signing up.)
          </h4>
        </div>
        <div class="hero-address-gate">
          <div class="gate-form-holder">
            <div class="hero-input-box" id="email_collect-input">
              <input class="bloom-input-100 monster-lite-form" type="email" name="user_name" placeholder="Enter Email Here" required="" id="email-collect-input-a">
            </div>
            <div class="hero-button-box">
              <button type="button" class="action-pre_register hero-shop-button mp-email_register_attempted"><span>TELL ME!</span></button>
            </div>
          </div>
        </div>
      </div>
      <div id="after-jesus-a" style="display:none;">
        <div class="modal-over-body-cta dones">
          <h2 class="email-cap-head">
            Here's $5 off<br>
            for signing up!
          </h2>
          <h3 class="email-cap-sub big-jump">
            Use code <strong>FIRSTBLOOMS</strong> at checkout
          </h3>
          <h4 class="email-cap-small">
            First time users only
          </h4>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="arrow_box_email-capture" id="email-capture-modal-b" style="display:none;" data-backdrop="static" data-keyboard="false">
  <div class="bottom-layer">
    <div class="modal-body">
      <img class="modal-bg-img" src="https://fdn.bloomthat.com/sweet_pics/home/2015/6/bloomthat-email-modal-bg-2a@1100px.jpg" alt="BloomThat Send Something" title="BloomThat Send Something">
      <div id="before-jesus-b">
        <div class="modal-over-body sign-head">
          <h2 class="email-cap-head sign-two-head">
            Welcome to<br>
            the Bloomcrew!
          </h2>
        </div>
        <div class="modal-over-body-cta sign-sub">
          <h3 class="email-cap-sub sign-two-sub">
            Sign up and get
          </h3>
        </div>
        <div class="hero-address-gate sign-two-email">
          <div class="gate-form-holder">
            <div class="hero-input-box sign-two-input-box" id="email_collect-input">
              <input class="bloom-input-100 monster-lite-form" type="email" name="user_name" placeholder="Enter Your Email Here" required="" id="email-collect-input-b">
            </div>
            <div class="hero-button-box sign-two-button-box">
              <button type="button" class="action-pre_register hero-shop-button mp-email_register_attempted"><span>GET THE CODE</span></button>
            </div>
          </div>
        </div>
      </div>
      <div id="after-jesus-b" style="display:none;">
        <div class="modal-over-body-cta dones">
          <div class="modal-over-body sign-head">
            <h2 class="email-cap-head sign-two-head">
              Nailed It.
            </h2>
          </div>
          <div class="modal-over-body-cta sign-sub">
            <h3 class="email-cap-sub sign-two-sub">
              You Got
            </h3>
          </div>
          <div class="modal-over-body-coupon">
            <h3 class="email-cap-sub big-jumper">
              Use code <strong>FIRSTBLOOMS</strong> at checkout
            </h3>
            <h4 class="email-cap-small">
              First time users only
            </h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="arrow_box_zipper" style="display:none;" id="help_modal_multi-ship">
  <div class="bottom-layer">
    <div class="modal-body">
      <div class="arrow_box_header_top">
        <h3 class="arrow-header">
          Bloom<strong>Tip</strong>
        </h3>
      </div>
      <div class="container modal-wrap-container">
        <div class="row modal-wrap-row">
          <h4 class="arrow-text" style="margin-top:20px; margin-bottom:20px;">
            <strong>Blooms when you want.</strong><br>
            Pick a delivery window with hand delivery.<br>
            Or give us a little time and save a few bucks with Express.
          </h4>
        </div>
      </div>
      <div class="container modal-wrap-container">
        <div class="row modal-wrap-row">
          <ul class="location_picker">
            <li>
              <button type="button" class="logout_btn" name="Close" id="got_it_multi-ship">GOT IT!</button>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="arrow_box_zipper" style="display:none;" id="promo_code_enter">
  <div class="bottom-layer">
    <div class="modal-body">
      <div class="arrow_box_header_top">
        <h3 class="arrow-header">
          Promo <strong>Code</strong>
        </h3>
      </div>
      <h4 class="arrow-text">
        Enter a promo or referral code
      </h4>
      <div class="container modal-wrap-container">
        <div class="row modal-wrap-row">
          <form action="https://www.bloomthat.com/checkout/promo_save" method="post" accept-charset="utf-8" id="promo-save-form">
            <div class="modal-input-kicker">
              <input type="hidden" name="note_to" value="" id="promo-note-to"> <input type="hidden" name="note_from" value="" id="promo-note-from"> <input type="hidden" name="note_content" value="" id="promo-note-content"> <input type="text" name="promo_code" class="bloom-input-100" placeholder="Promo Code">
            </div>
            <div class="modal-button-kicker">
              <button type="submit"><span>GO</span></button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="arrow_box_zipper" style="display:none;height:220px" id="stripe-cardless-info-modal">
  <div class="bottom-layer">
    <div class="modal-body">
      <div class="arrow_box_header_top">
        <h3 class="arrow-header">
          Stripe Cardless Payment
        </h3>
      </div>
      <div class="container modal-wrap-container">
        <div class="row modal-wrap-row">
          <h4 class="arrow-text" style="margin-top:20px; margin-bottom:20px;">
            This payment option connects directly to <a href="https://stripe.com/checkout" target="_blank">Stripe</a><br>
            so we never know anything about your credit card.<br>
            <br>
            Once we've made this one charge we will not be able to charge your card again since we don't have in our records 😀
          </h4>
        </div>
      </div>
      <div class="container modal-wrap-container">
        <div class="row modal-wrap-row">
          <ul class="location_picker">
            <li>
              <button type="button" class="logout_btn stripe-modal-close" name="Close">AWESOME!</button>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<%= render("orders/footer")%>
