<div class="these-are-not-the-divs-youre-looking-for">
<%= render("orders/header") %>

  <div id="fixed-body">
    <div class="checkout-section" id="payment-view">
      <div class="container content">
        <div class="ten columns">
          <div class="new-seven columns">

            <h1 class="checkout-header">

              Checkout
            </h1>
          </div>
          <div class="three columns">
            <br/>
            <button type="button" class="logout_btn" id="promo_code_modal" name="Add a Promo Code">&#43; Промо код</button>
          </div>
          <div class="ten columns">
            <hr>
            <div class="ten columns">
              <div class="message_row"></div>
            </div>
            <div class="row row-header">
              <div class="ten columns alpha">
                <h2 class="checkout-subheader">
                  Кредитная карта
                </h2>
              </div>
            </div>
            <div class="row" id="promo-code-input" style="display:none;">
              <div class="ten columns">
                <form action="https://www.bloomthat.com/checkout/promo_save" method="post" accept-charset="utf-8" class="bloom-form">
                  <div class="three offset-by-five columns alpha wrap-magic" style="width:330px;">
                    <label class="label-magic" for="promo_code">Promo Code</label> <input maxlength="40" class="bloom-input-100" type="text" name="promo_code" id="promo_code" placeholder="Promo Code" value="">
                  </div>
                  <div class="two columns omega wrap-magic">
                    <button type="submit" class="slinky" name="promo_code_submit" value="1"><span>Add</span> <span class="button-throbber"><img class="ajax_throbber" src="https://fdn.bloomthat.com/icons/home/button-loading-orange.gif"></span></button>
                  </div>
                </form>
              </div>
            </div>
            <form action="https://www.bloomthat.com/checkout/change_default_card" method="post" accept-charset="utf-8" id="chage-default-card">
              <input type="hidden" name="new-default-card" value="0" id="new-default-card">
            </form>
            <div class="row">
              <ul class="dtpicker"></ul>
            </div>


              <%= form_for @payment, :url => url_for(:controller => 'payments', :action => 'create') do |f| %>

              <div id="card-edit">
                <div class="row">
                  <div class="new-seven columns alpha wrap-magic">
                    <label class="label-magic" for="card_no">Card Number</label> <input size="20" class="bloom-input-100" name="number" type="text" placeholder="Номер карты" value="" data-validation="credit_card" data-stripe="number">
                  </div>
                  <div class="two columns omega wrap-magic">
                    <label class="label-magic" for="last_name">CVC</label> <input maxlength="5" class="bloom-input-100" name="cvc" type="text" id="cvc" placeholder="CVC" value="" data-validation="card_cvc" data-stripe="cvc">
                  </div>
                </div>
                <div class="row">
                  <div class="three columns alpha wrap-magic">
                    <label class="label-magic" for="recipient_name">Month (02)</label> <input maxlength="3" class="bloom-input-100" name="exp_month" type="text" placeholder="Месяц (02)" value="" data-validation="card_month" data-stripe="exp-month">
                  </div>
                  <div class="three columns wrap-magic">
                    <label class="label-magic" for="last_name">Year (2017)</label> <input maxlength="5" class="bloom-input-100" name="exp_year" type="text" placeholder="Год (2017)" value="" data-validation="card_year" data-stripe="exp-year">
                  </div>
                  <div class="three columns omega wrap-magic">
                    <label class="label-magic" for="address_zip">Billing Zip Code</label>

                    <%= f.text_field :pay_type, :class => "bloom-input-100", :id => "address_zip", :placeholder => "Ваш зип коде", :maxlength => "20" %>

                  </div>
                </div>
                <div class="row">
                  <div class="five columns alpha wrap-magic">
                    <%= f.submit "Далее", :id => "submit-to-me" %>
                  </div>

                </div>
              </div>



              <% end %>


            <div class="ten columns wrap-magic"></div>
          </div>
        </div>
        <div class="six columns">
          <div class="six columns well" id="who_summary">
            <span class="edit_icon"><a href="/checkout/delivery"><i class="fa fa-pencil"></i></a></span>
            <div class="mobile_cart_column">
              <table class="order_tracker">
                <tr height="10">
                  <td colspan="2"></td>
                </tr>
                <tr class="checkout_row">
                  <td class="table_left_col">
                    Кому
                  </td>
                  <td class="table_full_right_col">
                    <%= @order.delivery.first_name %>
                  </td>
                </tr>
                <tr class="checkout_row">
                  <td class="table_left_col">
                    Телефон
                  </td>
                  <td class="table_full_right_col">
                    <%= @order.delivery.phone_number %>
                  </td>
                </tr>
                <tr class="checkout_row">
                  <td class="table_left_col">
                    Адрес
                  </td>
                  <td class="table_full_right_col">
                    <%= @order.delivery.address %>
                  </td>
                </tr>
                <tr class="checkout_row">
                  <td class="table_left_col">
                    &nbsp;
                  </td>
                  <td class="table_full_right_col">
                    Кв. <%= @order.delivery.address_apartment %>
                  </td>
                </tr>
                <tr height="10">
                  <td colspan="3"></td>
                </tr>
              </table>
            </div>
          </div>
          <div class="six columns well" id="when_summary">
            <span class="edit_icon"><a href="/checkout/when"><i class="fa fa-pencil"></i></a></span>
            <div class="mobile_cart_column">
              <table class="order_tracker">
                <tr height="10">
                  <td colspan="3"></td>
                </tr>
                <tr class="checkout_row" style="border-bottom:1px solid #eeeeee">
                  <td style="width:56px;" class="table_left_col">
                    Дата
                  </td>
                  <td class="table_full_right_col">
                    <%= @order.when.date %>
                  </td>
                </tr>
                <tr class="checkout_row">
                  <td class="table_left_col">
                    Время
                  </td>
                  <td class="table_full_right_col">
                    <%= @order.when.time %>
                  </td>
                </tr>
                <tr height="10">
                  <td></td>
                </tr>
              </table>
            </div>
          </div>
          <div class="six columns well" id="cart_summary_log">
            <span class="edit_icon"><a href="/cart"><i class="fa fa-pencil"></i></a></span>
            <div class="mobile_cart_column">
              <table class="order_tracker">
                <tr height="10">
                  <td></td>
                </tr>

                <% @order.line_items.each do |item| %>
                <tr class="table_product_row">



                      <td class="table_product_img">
                        <%= image_tag(item.product.image_url_cart_small, :class => "table_icon") %>
                      </td>
                      <td class="table_product_name">
                        <%= item.product.rus_title %>
                      </td>
                      <td class="table_product_price">
                        <%= item.product.price %>р.
                      </td>

                </tr>
                <% end %>
                <tr style="display:none;" id="order-discount-row">
                  <td class="table_left_col">
                    &nbsp;
                  </td>
                  <td class="table_row_title">
                    Discount
                  </td>
                  <td class="table_row_result" id="order-discount-value">
                    -$0.00
                  </td>
                </tr>
                <tr>
                  <td class="table_left_col">
                    &nbsp;
                  </td>
                  <td class="table_row_title">
                    Доставка
                  </td>
                  <td class="table_row_result" id="order-shipping-value">
                    0.00
                  </td>
                </tr>

                <tr>
                  <td colspan="3">
                    <hr>
                  </td>
                </tr>
                <tr class="table_product_row">
                  <td class="table_left_col">
                    &nbsp;
                  </td>
                  <td height="40" valign="top" class="table_product_name">
                    Итого:
                  </td>
                  <td height="40" valign="top" class="table_total_price" id="order-total-value">
                    <%= @total %>
                  </td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="fb-root"></div>
<div class="arrow_box_email-capture" id="email-capture-modal" style="display:none;" data-backdrop="static" data-keyboard="false">
  <div class="bottom-layer">
    <div class="modal-body">
      <img class="modal-bg-img" src="https://fdn.bloomthat.com/sweet_pics/home/2015/6/bloomthat-email-modal-bg@1100px.jpg" alt="BloomThat Send Something" title="BloomThat Send Something">
      <div id="before-jesus-a">
        <div class="modal-over-body">
          <h2 class="email-cap-head">
            There's something<br>
            you should know.
          </h2>
        </div>
        <div class="modal-over-body-cta">
          <h3 class="email-cap-sub">
            Sign up for our emails &#43; find out.
          </h3>
          <h4 class="email-cap-small">
            (You'll also get <strong>$5 off</strong> your first order for signing up.)
          </h4>
        </div>
        <div class="hero-address-gate">
          <div class="gate-form-holder">
            <div class="hero-input-box" id="email_collect-input">
              <input class="bloom-input-100 monster-lite-form" type="email" name="user_name" placeholder="Enter Email Here" required="" id="email-collect-input-a">
            </div>
            <div class="hero-button-box">
              <button type="button" class="action-pre_register hero-shop-button mp-email_register_attempted"><span>TELL ME!</span></button>
            </div>
          </div>
        </div>
      </div>
      <div id="after-jesus-a" style="display:none;">
        <div class="modal-over-body-cta dones">
          <h2 class="email-cap-head">
            Here's $5 off<br>
            for signing up!
          </h2>
          <h3 class="email-cap-sub big-jump">
            Use code <strong>FIRSTBLOOMS</strong> at checkout
          </h3>
          <h4 class="email-cap-small">
            First time users only
          </h4>
        </div>
      </div>
    </div>
  </div>
</div>






<div class="arrow_box_email-capture" id="email-capture-modal-b" style="display:none;" data-backdrop="static" data-keyboard="false">
  <div class="bottom-layer">
    <div class="modal-body">
      <img class="modal-bg-img" src="https://fdn.bloomthat.com/sweet_pics/home/2015/6/bloomthat-email-modal-bg-2a@1100px.jpg" alt="BloomThat Send Something" title="BloomThat Send Something">
      <div id="before-jesus-b">
        <div class="modal-over-body sign-head">
          <h2 class="email-cap-head sign-two-head">
            Welcome to<br>
            the Bloomcrew!
          </h2>
        </div>
        <div class="modal-over-body-cta sign-sub">
          <h3 class="email-cap-sub sign-two-sub">
            Sign up and get
          </h3>
        </div>
        <div class="hero-address-gate sign-two-email">
          <div class="gate-form-holder">
            <div class="hero-input-box sign-two-input-box" id="email_collect-input">
              <input class="bloom-input-100 monster-lite-form" type="email" name="user_name" placeholder="Enter Your Email Here" required="" id="email-collect-input-b">
            </div>
            <div class="hero-button-box sign-two-button-box">
              <button type="button" class="action-pre_register hero-shop-button mp-email_register_attempted"><span>GET THE CODE</span></button>
            </div>
          </div>
        </div>
      </div>
      <div id="after-jesus-b" style="display:none;">
        <div class="modal-over-body-cta dones">
          <div class="modal-over-body sign-head">
            <h2 class="email-cap-head sign-two-head">
              Nailed It.
            </h2>
          </div>
          <div class="modal-over-body-cta sign-sub">
            <h3 class="email-cap-sub sign-two-sub">
              You Got
            </h3>
          </div>
          <div class="modal-over-body-coupon">
            <h3 class="email-cap-sub big-jumper">
              Use code <strong>FIRSTBLOOMS</strong> at checkout
            </h3>
            <h4 class="email-cap-small">
              First time users only
            </h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="arrow_box_zipper" style="display:none;" id="promo_code_enter">
  <div class="bottom-layer">
    <div class="modal-body">
      <div class="arrow_box_header_top">
        <h3 class="arrow-header">
          Promo <strong>Code</strong>
        </h3>
      </div>
      <h4 class="arrow-text">
        Enter a promo or referral code
      </h4>
      <div class="container modal-wrap-container">
        <div class="row modal-wrap-row">
          <form action="https://www.bloomthat.com/checkout/promo_save" method="post" accept-charset="utf-8" id="promo-save-form">
            <div class="modal-input-kicker">
              <input type="hidden" name="note_to" value="" id="promo-note-to"> <input type="hidden" name="note_from" value="" id="promo-note-from"> <input type="hidden" name="note_content" value="" id="promo-note-content"> <input type="text" name="promo_code" class="bloom-input-100" placeholder="Promo Code">
            </div>
            <div class="modal-button-kicker">
              <button type="submit"><span>GO</span></button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="arrow_box_zipper" style="display:none;height:220px" id="stripe-cardless-info-modal">
  <div class="bottom-layer">
    <div class="modal-body">
      <div class="arrow_box_header_top">
        <h3 class="arrow-header">
          Stripe Cardless Payment
        </h3>
      </div>
      <div class="container modal-wrap-container">
        <div class="row modal-wrap-row">
          <h4 class="arrow-text" style="margin-top:20px; margin-bottom:20px;">
            This payment option connects directly to <a href="https://stripe.com/checkout" target="_blank">Stripe</a><br>
            so we never know anything about your credit card.<br>
            <br>
            Once we've made this one charge we will not be able to charge your card again since we don't have in our records 😀
          </h4>
        </div>
      </div>
      <div class="container modal-wrap-container">
        <div class="row modal-wrap-row">
          <ul class="location_picker">
            <li>
              <button type="button" class="logout_btn stripe-modal-close" name="Close">AWESOME!</button>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<%= render("orders/footer") %>