
<style type="text/css">
  .fancybox-margin {
    margin-right: 0px;
  }
</style>



<div class="these-are-not-the-divs-youre-looking-for">
  <div id="fixed-header" class="container content header">
    <div class="bt-notifications" id="link-coupon-banner" style="display:none;">
      <ul class="bt-notification-list">
        <li id="link-coupon-message"></li>
      </ul>
    </div>
    <div class="container" id="header-contain">
      <div class="four columns logo">

        <%= link_to image_tag("logo.png", :alt => 'Everose', :title => 'Everose'), root_path %>

      </div>
      <div class="eight columns header-col menu-col" id="desktop-header-menu">
        <ul class="master_footer lead-menu">

          <li class="swap-to-footer" id="blooms-link"> <%= link_to 'Букеты', :controller => :store, :action => :index %> </li>
          <li class="swap-to-footer" id="how_li"> <%= link_to('Наша история', {:action => 'index'}) %> </li>
          <li class="swap-to-footer" id="faq-link"> <%= link_to('Контакты', {:action => 'index'}) %> </li>



          <li class="sign-in-button"> <%= link_to 'Кор', @path, :class => 'cart' %> </li>
          <li class="sign-in-button"> <a class="logout_btn" name="Sign In" id="" href="https://www.#.com/login">Войти</a> </li>
        </ul>
      </div>
      <div id="desktop-header-gate">
        <div class="four columns header-col" id="header-location">
          <div class="gated-wrap-header" id="gate-city-wrap"> <span class="header_label" id="address-search-label">Город</span> <span class="header_result">Челябинск</span> <span class="chevron-proof gate-city-clicker"><i class="fa fa-times-circle"></i></span>
            <form action="https://www..com/locations/set_zip_code" accept-charset="utf-8" id="gate-location-address-form" method="get">
              <input name="return_uri" value="flowers" id="return_uri" type="hidden">
              <input maxlength="255" class="secret-surprise" placeholder="Enter your city or zip code" name="zipcode" id="gate-location-address" style="display:none;" required="" autocomplete="off" type="text">
              <div class="pac-container pac-logo" style="width: 440px; position: absolute; display:none;margin-top:6px; left: 240px;" id="gate-location-address-results"></div>
            </form>
          </div>
        </div>
        <div class="two columns header-col" id="gate-location-selector-header">
          <div class="gated-wrap-header" id="gate-when-wrap" style="border-color: transparent;"> <span class="header_label">Когда</span> <span class="header_result">ASAP</span> <span class="chevron-proof gate-when-clicker"><i class="fa fa-chevron-circle-down"></i></span> </div>
          <div class="gate-location-selector_hero-header" id="gate-location-selector-header-list">
            <ul class="location-selector-drop">
              <li class="gate-location-selector-item" data-date="2016-11-27">ASAP </li>
              <li class="gate-location-selector-item" data-date="2016-11-28">Mon, Nov 28th </li>
              <li class="gate-location-selector-item" data-date="2016-11-29">Tue, Nov 29th </li>
              <li class="gate-location-selector-item" data-date="2016-11-30">Wed, Nov 30th </li>
              <li class="gate-location-selector-item" data-date="2016-12-01">Thu, Dec 1st </li>
              <li class="gate-location-selector-item" data-date="2016-12-02">Fri, Dec 2nd </li>
              <li class="gate-location-selector-item" data-date="2016-12-03">Sat, Dec 3rd </li>
              <li class="gate-location-selector-item" data-date="2016-12-04">Sun, Dec 4th </li>
              <li class="gate-location-selector-item" data-date="2016-12-05">Mon, Dec 5th </li>
              <li class="gate-location-selector-item" data-date="2016-12-06">Tue, Dec 6th </li>
              <li class="gate-location-selector-item" data-date="2016-12-07">Wed, Dec 7th </li>
              <li class="gate-location-selector-item" data-date="2016-12-08">Thu, Dec 8th </li>
              <li class="gate-location-selector-item" data-date="2016-12-09">Fri, Dec 9th </li>
              <li class="gate-location-selector-item" data-date="2016-12-10">Sat, Dec 10th </li>
              <li class="gate-location-selector-item" data-date="2016-12-11">Sun, Dec 11th </li>
              <li class="gate-location-selector-item" data-date="2016-12-12">Mon, Dec 12th </li>
              <li class="gate-location-selector-item" data-date="2016-12-13">Tue, Dec 13th </li>
              <li class="gate-location-selector-item" data-date="2016-12-14">Wed, Dec 14th </li>
              <li class="gate-location-selector-item" data-date="2016-12-15">Thu, Dec 15th </li>
              <li class="gate-location-selector-item" data-date="2016-12-16">Fri, Dec 16th </li>
            </ul>
          </div>
          <form action="https://www.bloomthat.com/locations/set_date" method="post" accept-charset="utf-8" id="gate-location-selector-form">
            <input name="date" value="" id="gate-location-selector-date" type="hidden"> </form>
        </div>
      </div>
    </div>
  </div>
  <div style="display:none;" itemprop="brand" itemscope="" itemtype="http://schema.org/Organization"> <span style="display:none;" itemprop="name">BloomThat</span> <span style="display:none;" itemprop="email">info@bloomthat.com</span> <span style="display:none;" itemprop="foundingLocation">San Francisco, CA</span>
    <div itemprop="brand" itemscope="" itemtype="http://schema.org/Brand"> <span style="display:none;" itemprop="name">BloomThat</span> <span style="display:none;" itemprop="logo">https://fdn.bloomthat.com/icons/2014/11/apple-touch-icon-precomposed.png</span> </div>
  </div>
  <div id="fixed-body">




                <div class="container main content">
                  <div class="section product_section" itemscope="" itemtype="http://data-vocabulary.org/Product"> <span style="display:none;" itemprop="url">/flowers/the-olivier</span>
                    <span style="display:none;" itemprop="price">$50</span> <span style="display:none;" itemprop="description">Pronounced
 o-lee-VYE, this festive friend is the je ne sais quoi you're looking
for this season. Perfect for saying "holi-hey", "thank yule" or "olive
you". Includes a 4" olive tree in a 5" diameter terracotta pot. Potted
tree measures about 10" tall.</span> <span style="display:none;" itemprop="image">https://fdn.bloomthat.com/files/products/the-olivier/full/1479773501/the-olivier-full-bloomthat-olivetree-large.jpg</span> <span style="display:none;" class="mp-auto-viewed_product" data-mp_viewed_product_name="The Olivier" data-mp_viewed_product_price="50.00" data-mp_viewed_product_promotion="false" data-mp_viewed_product_sold_out="false"></span>
                    <div class="eight columns alpha">
                      <div class="prod-img-box">

                        <%= image_tag(@product.image_url_cart, id: "product-image") %>

                        <div class="time-box">
                          <h3 class="next"> Следующая доступная доставка в Челябинске</h3>
                          <h4 class="time" datetime="2016-11-27 13:00:00" itemprop="availability"> Сегодня, 1PM-3PM </h4> </div>
                      </div>
                    </div>
                    <div class="eight columns omega" id="product_block">
                      <div id="product-info-name-price">
                        <h1 class="product_name" itemprop="name"> <%= @product.rus_title %> </h1>
                        <div id="price-info">
                          <h2 class="prod_price"><%= @product.price %>р</h2><i class="plus-shipping"><small class="muted">+ бесплатная доставка</small></i> </div>
                      </div>

                      <h3 class="prod_desc"> <%= @product.description %></h3>


                      <input id="product-pID" name="pID[]" value="190352892" type="hidden">
                      <div class="row" id="product_button">
                        <div class="eight columns alpha wrap-magic" id="button_block">
                          <div class="send-now-button-wrapper">

                            <%= button_to 'Отправить', line_items_path(product_id: @product), :class =>"slinky-advanced mp-add_item_to_cart_attempted send-now-button", :id => "add-submit" %>

                          </div>

                          <div class="add-to-cart-button-wrapper">

                            <button type="submit" name="add_to_cart" value="1" alt="Add this bloom to your cart and continue blooming!" title="Add this bloom to your cart and continue blooming!" class="slinky-advanced mp-add_item_to_cart_attempted add-to-cart-button" data-mp_button_text="Send Now" style="padding:0px">
                              <div class="button-content-wrapper"> <span class="button-text-default">Добавить в корзину</span> <span class="button-throbber-advanced"></span> </div>
                            </button>
                          </div>
                        </div>
                      </div>
                      <div class="eight columns alpha" id="two-click-wrapper" style="">
                        <hr>
                        <h4 class="prev-text"> Two-Click Blooms&nbsp; <span id="help_link_two-click"><i class="fa fa-question-circle"></i></span> </h4> </div>
                      <div class="eight columns" id="rapid-send">
                        <div class="three columns rapid-bloom" style="">
                          <div class="round-button">
                            <div class="round-button-circle"> <a href="https://www.bloomthat.com/checkout/quick/a81e2cd64e37/504937/190352892" class="round-button mp-two_click_add_clicked mp-two_click_add_clicked mp-add_item_to_cart_attempted" data-mp_button_text="Send"><span>AG</span><span class="shh">SEND</span></a> </div>
                          </div>
                          <div class="recipient-info" style="text-align:center;">
                            <p style="font-weight:normal;">Anf Gdsss</p>
                            <p>123 Park St</p>
                            <p>Today 1pm - 3pm</p>
                          </div>
                        </div>
                        <div class="three columns rapid-bloom" style="">
                          <div class="round-button">
                            <div class="round-button-circle"> <a href="https://www.bloomthat.com/checkout/quick/d29c31c309ab/504937/190352892" class="round-button mp-two_click_add_clicked mp-two_click_add_clicked mp-add_item_to_cart_attempted" data-mp_button_text="Send"><span>AP</span><span class="shh">SEND</span></a> </div>
                          </div>
                          <div class="recipient-info" style="text-align:center;">
                            <p style="font-weight:normal;">Anton Putra</p>
                            <p>1685 Parkline Dr Apt 13</p>
                            <p>Today 1pm - 3pm</p>
                          </div>
                        </div>

                        <div class="three columns rapid-bloom" style="">
                          <div class="round-button">
                            <div class="round-button-circle"> <a href="https://www.bloomthat.com/checkout/quick/17af5ed49842/504255/190352892" class="round-button mp-two_click_add_clicked mp-two_click_add_clicked mp-add_item_to_cart_attempted" data-mp_button_text="Send"><span>FG</span><span class="shh">SEND</span></a> </div>
                          </div>
                          <div class="recipient-info" style="text-align:center;">
                            <p style="font-weight:normal;">Fd Gs</p>
                            <p>124 1st Ave</p>
                            <p>11/29 9am - 5pm</p>
                          </div>
                        </div>
                      </div>

                    </div>
                  </div>
                </div>


  </div>
</div>
<div id="fb-root"></div>
<div class="arrow_box_email-capture" id="email-capture-modal" style="display:none;" data-backdrop="static" data-keyboard="false">
  <div class="bottom-layer">
    <div class="modal-body">
      <div id="before-jesus-a">
        <div class="modal-over-body">
          <h2 class="email-cap-head"> There's something<br> you should know. </h2> </div>
        <div class="modal-over-body-cta">
          <h3 class="email-cap-sub"> Sign up for our emails + find out. </h3>
          <h4 class="email-cap-small"> (You'll also get <strong>$5 off</strong> your first order for signing up.) </h4> </div>
        <div class="hero-address-gate">
          <div class="gate-form-holder">
            <div class="hero-input-box" id="email_collect-input">
              <input class="bloom-input-100 monster-lite-form" name="user_name" placeholder="Enter Email Here" required="" id="email-collect-input-a" type="email"> </div>
            <div class="hero-button-box">
              <button type="button" class="action-pre_register hero-shop-button mp-email_register_attempted"><span>TELL ME!</span>
              </button>
            </div>
          </div>
        </div>
      </div>
      <div id="after-jesus-a" style="display:none;">
        <div class="modal-over-body-cta dones">
          <h2 class="email-cap-head"> Here's $5 off<br> for signing up! </h2>
          <h3 class="email-cap-sub big-jump"> Use code <strong>FIRSTBLOOMS</strong> at checkout </h3>
          <h4 class="email-cap-small"> First time users only </h4> </div>
      </div>
    </div>
  </div>
</div>
<div class="arrow_box_email-capture" id="email-capture-modal-b" style="display:none;" data-backdrop="static" data-keyboard="false">
  <div class="bottom-layer">
    <div class="modal-body">
      <div id="before-jesus-b">
        <div class="modal-over-body sign-head">
          <h2 class="email-cap-head sign-two-head"> Welcome to<br> the Bloomcrew! </h2> </div>
        <div class="modal-over-body-cta sign-sub">
          <h3 class="email-cap-sub sign-two-sub"> Sign up and get </h3> </div>
        <div class="hero-address-gate sign-two-email">
          <div class="gate-form-holder">
            <div class="hero-input-box sign-two-input-box" id="email_collect-input">
              <input class="bloom-input-100 monster-lite-form" name="user_name" placeholder="Enter Your Email Here" required="" id="email-collect-input-b" type="email"> </div>
            <div class="hero-button-box sign-two-button-box">
              <button type="button" class="action-pre_register hero-shop-button mp-email_register_attempted"><span>GET THE CODE</span>
              </button>
            </div>
          </div>
        </div>
      </div>
      <div id="after-jesus-b" style="display:none;">
        <div class="modal-over-body-cta dones">
          <div class="modal-over-body sign-head">
            <h2 class="email-cap-head sign-two-head"> Nailed It. </h2> </div>
          <div class="modal-over-body-cta sign-sub">
            <h3 class="email-cap-sub sign-two-sub"> You Got </h3> </div>
          <div class="modal-over-body-coupon">
            <h3 class="email-cap-sub big-jumper"> Use code <strong>FIRSTBLOOMS</strong> at checkout </h3>
            <h4 class="email-cap-small"> First time users only </h4> </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="arrow_box_zipper" style="display:none;" id="help-two">
  <div class="bottom-layer">
    <div class="modal-body">
      <div class="arrow_box_header_top">
        <h3 class="arrow-header"> Bloom<strong>Tip</strong> </h3> </div>
      <div class="container modal-wrap-container">
        <div class="row modal-wrap-row">
          <h4 class="arrow-text" id="two-clicker"> <strong>TWO-CLICK BLOOMS</strong><br> The fastest blooms from coast to coast.<br> Select a recipient, write a note + submit.<br> Blooms so fast, like, woah. 😮 </h4> </div>
      </div>
      <div class="container modal-wrap-container">
        <div class="row modal-wrap-row">
          <ul class="location_picker">
            <li>
              <button type="button" class="logout_btn" name="Close" id="help_got-it">GOT IT!</button>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="arrow_box_zipper" style="display:none;height:244px" id="shipping-info-modal">
  <div class="bottom-layer">
    <div class="modal-body">
      <div class="arrow_box_header_top">
        <h3 class="arrow-header"> Heads-up about shipping! </h3> </div>
      <div class="container modal-wrap-container" style="padding-bottom:8px">
        <div class="row modal-wrap-row">
          <h4 class="arrow-text" style="margin-top:15px; margin-bottom:12px;padding-left:20px;padding-right:20px;"> We always send the best quality blooms and,<br> to do that, we have to share the cost of shipping.<br> <br> You'll see the exact amount after entering<br> the delivery address at checkout <em>(we need to know<br> how far we're sending, cuz we're not psychics… yet).</em> </h4> </div>
      </div>
      <div class="container modal-wrap-container">
        <div class="row modal-wrap-row">
          <ul class="location_picker">
            <li>
              <button type="button" class="logout_btn modal-close" name="Close">GOT IT!</button>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="base">
  <div class="container">
    <div class="sixteen columns">
      <div class="row"> <img alt="BloomThat Flower Delivery" style="width:75px;" src="<%=asset_path 'bloomthat-logo-mobile.png' %>"> </div>
      <ul class="master_footer" id="swap-header-footer">
        <li> <a href="https://#/locations" title="Locations">АДРЕС</a> </li>

        <li> <a href="https://#/help-center" title="Help Center">Контакты</a> </li>
      </ul>
      <br>
      <ul class="master_footer">
        <li class="hidden-below"> <a href="https://#/locations" title="Locations">АДРЕС</a> </li>

        <li class="hidden-below"> <a href="https://#/help-center" title="Help Center">Контакты</a> </li>
        <li class="hidden-below"> <a href="https://#/terms" title="Privacy Policy and Terms of Use">Условия</a> </li>
        <li class="hidden-below"> <a href="https://jobs.lever.co/bloomthat" title="Press">Нанимаем</a> </li>
      </ul>
      <h3> Давайте дружить </h3>
      <div class="social-buttons">
        <a target="_blank" href="https://www.instagram.com/" style="background-image: url(/instagram.png);" class="social-button"></a>
        <a target="_blank" href="https://www.snapchat.com/add/" style="background-image: url(/snapchat.png);" class="social-button"></a>
        <a target="_blank" href="https://www.facebook.com/" style="background-image: url(/facebook.png);" class="social-button"></a>
        <a target="_blank" href="https://www.twitter.com/" style="background-image: url(/twitter.png);" class="social-button"></a>
      </div>
      <p> © 2016 OtpravBuket </p>
    </div>
  </div>
</div>
<div class="arrow_box_zipper" style="display:none;" id="help-demand">
  <div class="bottom-layer">
    <div class="modal-body">
      <div class="arrow_box_header_top">
        <h3 class="arrow-header"> Bloom<strong>Tip</strong> </h3> </div>
      <div class="container modal-wrap-container">
        <div class="row modal-wrap-row">
          <h4 class="arrow-text" style="margin-top:15px; margin-bottom:25px;"> <strong>ON-DEMAND BLOOMS</strong><br> The fastest flower delivery ever.<br> Available in the Bay Area<br> and downtown New York. </h4> </div>
      </div>
      <div class="container modal-wrap-container">
        <div class="row modal-wrap-row">
          <ul class="location_picker">
            <li>
              <button type="button" class="logout_btn" name="Close" id="on_demand_got-it">GOT IT!</button>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="arrow_box_zipper" style="display:none;" id="promo_code_enter">
  <div class="bottom-layer">
    <div class="modal-body">
      <div class="arrow_box_header_top">
        <h3 class="arrow-header"> Promo <strong>Code</strong> </h3> </div>
      <h4 class="arrow-text"> Enter a promo or referral code </h4>
      <div class="container modal-wrap-container">
        <div class="row modal-wrap-row">
          <form action="https://www.bloomthat.com/checkout/promo_save" method="post" accept-charset="utf-8" id="promo-save-form">
            <div class="modal-input-kicker">
              <input name="note_to" value="" id="promo-note-to" type="hidden">
              <input name="note_from" value="" id="promo-note-from" type="hidden">
              <input name="note_content" value="" id="promo-note-content" type="hidden">
              <input name="promo_code" class="bloom-input-100 mp-value-discount_code_submission" placeholder="Promo Code" type="text"> </div>
            <div class="modal-button-kicker">
              <button type="submit" class="mp-add_promo_code_attempted" data-mp_button_text="Go"><span>GO</span>
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="arrow_box_zipper" style="display:none;" id="not-there-yet">
  <div class="bottom-layer">
    <div class="modal-body">
      <div class="arrow_box_header_top">
        <h3 class="arrow-header"> We're not there yet! </h3> </div>
      <div class="container modal-wrap-container">
        <div class="row modal-wrap-row">
          <h4 class="arrow-text" style="margin-top:25px; margin-bottom:20px;"> Looks like we aren't there yet.<br> Check out our locations.<br> We'll let you know when we launch more cities! </h4> </div>
      </div>
      <div class="container modal-wrap-container">
        <div class="row modal-wrap-row">
          <ul class="location_picker">
            <li>
              <button type="button" class="logout_btn" name="Close" id="not-there-close">GOT IT!</button>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="arrow_box_desktop" id="footer-zip-request-modal" data-backdrop="static" data-keyboard="false" style="display:none;">
  <div class="bottom-layer">
    <div class="modal-body">
      <div>
        <h2 class="another-header"> <strong>Great</strong> Choice! </h2>
        <h3 class="another-smaller-header"> Now all we need is the zip. </h3>
        <div class="hero-address-gate">
          <div class="gate-form-holder">
            <form action="https://www.bloomthat.com/locations/set_zip_code" accept-charset="utf-8" id="footer-zip-request-form" method="get">
              <input name="return_uri" value="flowers/the-olivier" type="hidden">
              <input name="numbers_only" value="1" id="numbers_only" type="hidden">
              <div class="hero-input-box">
                <input maxlength="8" class="bloom-input-100 monster-lite-form" placeholder="Enter your delivery zip code" name="address" id="footer-zip-request" required="" autocomplete="off" type="number">
                <input name="zipcode" id="footer-zip-request-zipcode" type="hidden">
                <div class="pac-container pac-logo" style="width: 398px; position: absolute; display:none;" id="footer-zip-request-results"></div>
              </div>
              <div class="hero-button-box">
                <button type="submit" class="hero-shop-button mp-gate_city_search_attempted" data-mp_button_text="Shop" data-mp_ui_element="hero-address-gate" id="footer-zip-request-submit" data-input_id="footer-zip-request" style="background-color:#ff6600"><span>SHOW ME THE BLOOMS!</span>
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
