<% content_for :title, "Наши цветы" %>
<div class="these-are-not-the-divs-youre-looking-for">
<%= render('header_index_buket') %>

  <div id="fixed-body">
    <div class="container main content" id="flower-collection">
      <div class="mobile-temp-gate">
        <div class="section">
          <div class="product_row" style="text-align:center;">
            <div class="delivery-select">
              <div class="collection-location btm-bord" id="delivery-select-loc">
                <div class="icon-block"> <i class="fa fa-map-marker" id="map-hov"></i> </div>
                <div class="info-display-block rt-bord">
                  <h4 class="pick_header lfte"> Куда </h4>
                  <h4 class="sub-four lfte"> <strong>Челябинск</strong> &nbsp;<i class="fa fa-chevron-down"></i> </h4> </div>
              </div>
              <div class="collection-time" id="delivery-select-time">
                <div class="icon-block"> <i class="fa fa-clock-o" id="clock-hov"></i> </div>
                <div class="info-display-block">
                  <h4 class="pick_header lfte"> Когда </h4>
                  <h4 class="sub-four lfte"> <strong>Сегодня</strong> &nbsp;<i class="fa fa-chevron-down"></i> </h4> </div>
              </div>
              <div class="delivery-location-section" style="display:none;">
                <h4 class="arrow-text"> Введите город </h4>
                <div class="hero-address-gate-a">
                  <div class="container modal-wrap-container">
                    <div class="row modal-wrap-row">
                      <form action="https://#/locations/set_zip_code" accept-charset="utf-8" class="contact_form auto-submit" id="location-search-form" method="get">
                        <div class="modal-input-kicker">
                          <input class="bloom-input-100" type="text" placeholder="" name="zipcode" id="location-search" autocomplete="off">
                          <div class="pac-container pac-logo" style="width: 398px; position: absolute; display:none;z-index:999;" id="location-search-results"></div>
                        </div>
                        <div class="modal-button-kicker">
                          <button type="button" id="location-search-submit"><span>ВЫБРАТЬ</span>
                          </button>
                        </div>
                      </form>
                    </div>
                    <hr class="loc_hr" id="mob_out"> </div>
                </div>
                <div class="mob_out-box">
                  <h4 class="arrow-text" style="margin-top:10px;"> Или выберите один из городов </h4>
                  <div class="container modal-wrap-container">
                    <div class="row modal-wrap-row" style="margin-bottom:10px;">



                        <%= form_tag(store_index_path, method: "get", class: "contact_form auto-submit") do %>
                        <ul class="location_picker">
                          <li>


                            <%= button_tag "Челябинск", { class: "loc_picker_button"} %>


                          </li>
                        </ul>
                        <% end %>

                    </div>
                  </div>
                </div>
              </div>
              <div class="delivery-time-section" style="display:none;">
                <h4 class="arrow-text"> Выберите дату доставки </h4>
                <div class="container modal-wrap-container">
                  <div class="row modal-wrap-row">
                    <form action="https://www.bloomthat.com/locations/set_date" accept-charset="utf-8" id="date-picker-form" method="get">
                      <input name="return_uri" value="/flowers" type="hidden">
                      <input name="date" value="" id="date-picker-value" type="hidden">
                      <div id="loc_spot">
                        <ul class="dtpicker">

                          <% @dates.each do |date| %>
                              <li class="dtbox dt_date"">
                                <h3 class="pick_top">
                                  <% if date == Date.today %>
                                      <%= "Сегодня" %>
                                  <% else %>
                                      <%= Russian::strftime(date, "%A") %>
                                  <% end %>
                                </h3>
                                <h4 class="pick_header"><%= Russian::strftime(date, "%d %b") %></h4>
                              </li>
                          <% end %>

                        </ul>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="collection-wrapper">
        <div data-reactroot="" id="collection-grid">
          <div id="products">
            <section>
              <header class="section-header">
                <div>
                  <hr class="header-line"><b>популярные</b>

                </div>

                <!-- react-text: 8 -->Самые популярные букеты!
                <!-- /react-text -->
              </header>
                <div class="custom_flash">
                  <%= flash[:notice] %>
                </div>
              <div>


                <% cache ['store', Product.latest] do %>
                    <% @products.each do |product| %>
                        <% cache ['entry', product] do %>


                            <div class="product">
                              <%= link_to image_tag(product.image_url), buket_store_path(product), :class => "collecton-grid-image" %>
                              <div class="product-info">
                                <div class="info-top">
                                  <div class="title"><span><%= product.rus_title %></span><b><!-- react-text: 47 --> · <!-- /react-text --><span> <%= number_to_currency(product.price) %></span></b>
                                  </div>
                                  <p class="when-deliv">available Today, 1PM-3PM</p>
                                </div>
                                <div class="info-bottom"><%= link_to "ОТПРАВЬ", buket_store_path(product), :class => "synth-product_link button" %>
                                </div>
                              </div>
                              <div itemscope="" itemtype="http://schema.org/Product" style="display: none;">
                                <div itemprop="brand" itemscope="" itemtype="http://schema.org/Organization" style="display: none;"><span itemprop="name" style="display: none;">BloomThat</span><span itemprop="email" style="display: none;">info@bloomthat.com</span><span itemprop="foundingLocation" style="display: none;">San Francisco, CA</span>
                                  <div itemprop="brand" itemscope="" itemtype="http://schema.org/Brand"><span itemprop="name" style="display: none;">BloomThat</span><span itemprop="logo" style="display: none;">http://fdn.bloomthat.dev/icons/2014/11/apple-touch-icon-precomposed.png</span>
                                  </div>
                                </div><span itemprop="url" style="display: none;">the-olivier</span><span itemprop="name" style="display: none;">The Olivier</span><span itemprop="description" style="display: none;"></span><span itemprop="image" style="display: none;">https://fdn.bloomthat.com/files/products/the-olivier/full/1479773501/the-olivier-full-bloomthat-olivetree-large.jpg</span>
                                <div itemprop="offers" itemscope="" itemtype="http://schema.org/Offer" style="display: none;"><span itemprop="price" style="display: none;">50.00</span><span itemprop="priceCurrency" style="display: none;">USD</span><span itemprop="availability" style="display: none;">In Stock</span>
                                </div>
                              </div>
                            </div>
                        <% end %>
                    <% end %>
                <% end %>





              </div>
            </section>

            <section>
              <header class="section-header">
                <div>
                  <hr class="header-line"><b>популярные</b>
                </div>
                <!-- react-text: 8 -->A few of our fave MUST-HAVES. Get ‘em while they’re hot!
                <!-- /react-text -->
              </header>
              <div>


                <% cache ['store', Product.latest] do %>
                    <% @products.each do |product| %>
                        <% cache ['entry', product] do %>




                            <div class="product">
                              <%= link_to image_tag(product.image_url), buket_store_path(product), :class => "collecton-grid-image" %>
                              <div class="product-info">
                                <div class="info-top">
                                  <div class="title"><span><%= product.rus_title %></span><b><!-- react-text: 47 --> · <!-- /react-text --><span> <%= number_to_currency(product.price) %></span></b>
                                  </div>
                                  <p class="when-deliv">available Today, 1PM-3PM</p>
                                </div>
                                <div class="info-bottom"><%= link_to "ОТПРАВЬ", buket_store_path(product), :class => "synth-product_link button" %>
                                </div>
                              </div>
                              <div itemscope="" itemtype="http://schema.org/Product" style="display: none;">
                                <div itemprop="brand" itemscope="" itemtype="http://schema.org/Organization" style="display: none;"><span itemprop="name" style="display: none;">BloomThat</span><span itemprop="email" style="display: none;">info@bloomthat.com</span><span itemprop="foundingLocation" style="display: none;">San Francisco, CA</span>
                                  <div itemprop="brand" itemscope="" itemtype="http://schema.org/Brand"><span itemprop="name" style="display: none;">BloomThat</span><span itemprop="logo" style="display: none;">http://fdn.bloomthat.dev/icons/2014/11/apple-touch-icon-precomposed.png</span>
                                  </div>
                                </div><span itemprop="url" style="display: none;">the-olivier</span><span itemprop="name" style="display: none;">The Olivier</span><span itemprop="description" style="display: none;"></span><span itemprop="image" style="display: none;">https://fdn.bloomthat.com/files/products/the-olivier/full/1479773501/the-olivier-full-bloomthat-olivetree-large.jpg</span>
                                <div itemprop="offers" itemscope="" itemtype="http://schema.org/Offer" style="display: none;"><span itemprop="price" style="display: none;">50.00</span><span itemprop="priceCurrency" style="display: none;">USD</span><span itemprop="availability" style="display: none;">In Stock</span>
                                </div>
                              </div>
                            </div>
                        <% end %>
                    <% end %>
                <% end %>





              </div>
            </section>




          </div>
        </div>
      </div>
    </div>
    <div class="section clearfix"> &nbsp; </div>
  </div>
</div>
<div id="fb-root"></div>
<div class="arrow_box_email-capture" id="email-capture-modal" style="display:none;" data-backdrop="static" data-keyboard="false">
  <div class="bottom-layer">
    <div class="modal-body">
      <div id="before-jesus-a">
        <div class="modal-over-body">
          <h2 class="email-cap-head"> There's something<br> you should know. </h2> </div>
        <div class="modal-over-body-cta">
          <h3 class="email-cap-sub"> Sign up for our emails + find out. </h3>
          <h4 class="email-cap-small"> (You'll also get <strong>$5 off</strong> your first order for signing up.) </h4> </div>
        <div class="hero-address-gate">
          <div class="gate-form-holder">
            <div class="hero-input-box" id="email_collect-input">
              <input class="bloom-input-100 monster-lite-form" name="user_name" placeholder="Enter Email Here" required="" id="email-collect-input-a" type="email"> </div>
            <div class="hero-button-box">
              <button type="button" class="action-pre_register hero-shop-button mp-email_register_attempted"><span>TELL ME!</span>
              </button>
            </div>
          </div>
        </div>
      </div>
      <div id="after-jesus-a" style="display:none;">
        <div class="modal-over-body-cta dones">
          <h2 class="email-cap-head"> Here's $5 off<br> for signing up! </h2>
          <h3 class="email-cap-sub big-jump"> Use code <strong>FIRSTBLOOMS</strong> at checkout </h3>
          <h4 class="email-cap-small"> First time users only </h4> </div>
      </div>
    </div>
  </div>
</div>
<div class="arrow_box_email-capture" id="email-capture-modal-b" style="display:none;" data-backdrop="static" data-keyboard="false">
  <div class="bottom-layer">
    <div class="modal-body">
      <div id="before-jesus-b">
        <div class="modal-over-body sign-head">
          <h2 class="email-cap-head sign-two-head"> Welcome to<br> the Bloomcrew! </h2> </div>
        <div class="modal-over-body-cta sign-sub">
          <h3 class="email-cap-sub sign-two-sub"> Sign up and get </h3> </div>
        <div class="hero-address-gate sign-two-email">
          <div class="gate-form-holder">
            <div class="hero-input-box sign-two-input-box" id="email_collect-input">
              <input class="bloom-input-100 monster-lite-form" name="user_name" placeholder="Enter Your Email Here" required="" id="email-collect-input-b" type="email"> </div>
            <div class="hero-button-box sign-two-button-box">
              <button type="button" class="action-pre_register hero-shop-button mp-email_register_attempted"><span>GET THE CODE</span>
              </button>
            </div>
          </div>
        </div>
      </div>
      <div id="after-jesus-b" style="display:none;">
        <div class="modal-over-body-cta dones">
          <div class="modal-over-body sign-head">
            <h2 class="email-cap-head sign-two-head"> Nailed It. </h2> </div>
          <div class="modal-over-body-cta sign-sub">
            <h3 class="email-cap-sub sign-two-sub"> You Got </h3> </div>
          <div class="modal-over-body-coupon">
            <h3 class="email-cap-sub big-jumper"> Use code <strong>FIRSTBLOOMS</strong> at checkout </h3>
            <h4 class="email-cap-small"> First time users only </h4> </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="arrow_box_zipper" style="display:none;" id="help-two">
  <div class="bottom-layer">
    <div class="modal-body">
      <div class="arrow_box_header_top">
        <h3 class="arrow-header"> Bloom<strong>Tip</strong> </h3> </div>
      <div class="container modal-wrap-container">
        <div class="row modal-wrap-row">
          <h4 class="arrow-text" id="two-clicker"> <strong>TWO-CLICK BLOOMS</strong><br> The fastest blooms from coast to coast.<br> Select a recipient, write a note + submit.<br> Blooms so fast, like, woah. 😮 </h4> </div>
      </div>
      <div class="container modal-wrap-container">
        <div class="row modal-wrap-row">
          <ul class="location_picker">
            <li>
              <button type="button" class="logout_btn" name="Close" id="help_got-it">GOT IT!</button>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="arrow_box_zipper" style="display:none;height:244px" id="shipping-info-modal">
  <div class="bottom-layer">
    <div class="modal-body">
      <div class="arrow_box_header_top">
        <h3 class="arrow-header"> Heads-up about shipping! </h3> </div>
      <div class="container modal-wrap-container" style="padding-bottom:8px">
        <div class="row modal-wrap-row">
          <h4 class="arrow-text" style="margin-top:15px; margin-bottom:12px;padding-left:20px;padding-right:20px;"> We always send the best quality blooms and,<br> to do that, we have to share the cost of shipping.<br> <br> You'll see the exact amount after entering<br> the delivery address at checkout <em>(we need to know<br> how far we're sending, cuz we're not psychics… yet).</em> </h4> </div>
      </div>
      <div class="container modal-wrap-container">
        <div class="row modal-wrap-row">
          <ul class="location_picker">
            <li>
              <button type="button" class="logout_btn modal-close" name="Close">GOT IT!</button>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<%= render('footer') %>

<div class="arrow_box_zipper" style="display:none;" id="help-demand">
  <div class="bottom-layer">
    <div class="modal-body">
      <div class="arrow_box_header_top">
        <h3 class="arrow-header"> Bloom<strong>Tip</strong> </h3> </div>
      <div class="container modal-wrap-container">
        <div class="row modal-wrap-row">
          <h4 class="arrow-text" style="margin-top:15px; margin-bottom:25px;"> <strong>ON-DEMAND BLOOMS</strong><br> The fastest flower delivery ever.<br> Available in the Bay Area<br> and downtown New York. </h4> </div>
      </div>
      <div class="container modal-wrap-container">
        <div class="row modal-wrap-row">
          <ul class="location_picker">
            <li>
              <button type="button" class="logout_btn" name="Close" id="on_demand_got-it">GOT IT!</button>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="arrow_box_zipper" style="display:none;" id="promo_code_enter">
  <div class="bottom-layer">
    <div class="modal-body">
      <div class="arrow_box_header_top">
        <h3 class="arrow-header"> Promo <strong>Code</strong> </h3> </div>
      <h4 class="arrow-text"> Enter a promo or referral code </h4>
      <div class="container modal-wrap-container">
        <div class="row modal-wrap-row">
          <form action="https://www.bloomthat.com/checkout/promo_save" method="post" accept-charset="utf-8" id="promo-save-form">
            <div class="modal-input-kicker">
              <input name="note_to" value="" id="promo-note-to" type="hidden">
              <input name="note_from" value="" id="promo-note-from" type="hidden">
              <input name="note_content" value="" id="promo-note-content" type="hidden">
              <input name="promo_code" class="bloom-input-100 mp-value-discount_code_submission" placeholder="Promo Code" type="text"> </div>
            <div class="modal-button-kicker">
              <button type="submit" class="mp-add_promo_code_attempted" data-mp_button_text="Go"><span>GO</span>
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="arrow_box_zipper" style="display:none;" id="not-there-yet">
  <div class="bottom-layer">
    <div class="modal-body">
      <div class="arrow_box_header_top">
        <h3 class="arrow-header"> We're not there yet! </h3> </div>
      <div class="container modal-wrap-container">
        <div class="row modal-wrap-row">
          <h4 class="arrow-text" style="margin-top:30px; margin-bottom:30px;"> Sign up to be the first to know when we bloom your city. </h4> </div>
      </div>
      <div class="container modal-wrap-container">
        <div class="row modal-wrap-row">
          <ul class="location_picker">
            <li>
              <button type="button" class="logout_btn" name="Close" id="not-there-close" onclick="window.location.href='/login/sign-up';">SIGN UP!</button>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="arrow_box_desktop" id="footer-zip-request-modal" data-backdrop="static" data-keyboard="false" style="display:none;">
  <div class="bottom-layer">
    <div class="modal-body">
      <div>
        <h2 class="another-header"> <strong>Great</strong> Choice! </h2>
        <h3 class="another-smaller-header"> Now all we need is the zip. </h3>
        <div class="hero-address-gate">
          <div class="gate-form-holder">
            <form action="https://www.bloomthat.com/locations/set_zip_code" accept-charset="utf-8" id="footer-zip-request-form" method="get">
              <input name="return_uri" value="flowers" type="hidden">
              <input name="numbers_only" value="1" id="numbers_only" type="hidden">
              <div class="hero-input-box">
                <input maxlength="8" class="bloom-input-100 monster-lite-form" placeholder="Enter your delivery zip code" name="address" id="footer-zip-request" required="" autocomplete="off" type="number">
                <input name="zipcode" id="footer-zip-request-zipcode" type="hidden">
                <div class="pac-container pac-logo" style="width: 398px; position: absolute; display:none;" id="footer-zip-request-results"></div>
              </div>
              <div class="hero-button-box">
                <button type="submit" class="hero-shop-button mp-gate_city_search_attempted" data-mp_button_text="Shop" data-mp_ui_element="hero-address-gate" id="footer-zip-request-submit" data-input_id="footer-zip-request" style="background-color:#ff6600"><span>SHOW ME THE BLOOMS!</span>
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
