<% content_for :title, "Наши цветы" %>

<div class="these-are-not-the-divs-youre-looking-for">
  <div id="fixed-header" class="container content header">
    <div class="bt-notifications" id="link-coupon-banner" style="display:none;">
      <ul class="bt-notification-list">
        <li id="link-coupon-message"></li>
      </ul>
    </div>
    <div class="container" id="header-contain">
      <div class="four columns logo">

        <%= link_to image_tag("logo.png", :alt => 'Everose', :title => 'Everose'), root_path %>

      </div>
      <div class="eight columns header-col menu-col" id="desktop-header-menu">
        <ul class="master_footer lead-menu">

          <li class="swap-to-footer" id="blooms-link"> <%= link_to 'Букеты', :controller => :store, :action => :index %> </li>
          <li class="swap-to-footer" id="how_li"> <%= link_to('Наша история', {:action => 'index'}) %> </li>
          <li class="swap-to-footer" id="faq-link"> <%= link_to('Контакты', {:action => 'index'}) %> </li>

          <% ses1 = session[:cart_id] %>

          <li class="sign-in-button"> <%= link_to 'Кор', cart_path(ses1), :class => 'cart' %> </li>

          <li class="sign-in-button"> <a class="logout_btn" name="Sign In" id="" href="https://www.#.com/login">Войти</a> </li>
        </ul>
      </div>
      <div id="desktop-header-gate">
        <div class="four columns header-col" id="header-location">
          <div class="gated-wrap-header" id="gate-city-wrap"> <span class="header_label" id="address-search-label">Город</span> <span class="header_result">Челябинск</span> <span class="chevron-proof gate-city-clicker"><i class="fa fa-times-circle"></i></span>
            <form action="https://www..com/locations/set_zip_code" accept-charset="utf-8" id="gate-location-address-form" method="get">
              <input name="return_uri" value="flowers" id="return_uri" type="hidden">
              <input maxlength="255" class="secret-surprise" placeholder="Enter your city or zip code" name="zipcode" id="gate-location-address" style="display:none;" required="" autocomplete="off" type="text">
              <div class="pac-container pac-logo" style="width: 440px; position: absolute; display:none;margin-top:6px; left: 240px;" id="gate-location-address-results"></div>
            </form>
          </div>
        </div>
        <div class="two columns header-col" id="gate-location-selector-header">
          <div class="gated-wrap-header" id="gate-when-wrap" style="border-color: transparent;"> <span class="header_label">Когда</span> <span class="header_result">СЕЙЧАС</span> <span class="chevron-proof gate-when-clicker"><i class="fa fa-chevron-circle-down"></i></span> </div>
          <div class="gate-location-selector_hero-header" id="gate-location-selector-header-list">
            <ul class="location-selector-drop">
              <li class="gate-location-selector-item" data-date="2016-11-27">ASAP </li>
              <li class="gate-location-selector-item" value="2016-11-28">Mon, Nov 28th </li>
              <li class="gate-location-selector-item" data-date="2016-11-29">Tue, Nov 29th </li>
              <li class="gate-location-selector-item" data-date="2016-11-30">Wed, Nov 30th </li>
              <li class="gate-location-selector-item" data-date="2016-12-01">Thu, Dec 1st </li>
              <li class="gate-location-selector-item" data-date="2016-12-02">Fri, Dec 2nd </li>
              <li class="gate-location-selector-item" data-date="2016-12-03">Sat, Dec 3rd </li>
              <li class="gate-location-selector-item" data-date="2016-12-04">Sun, Dec 4th </li>
              <li class="gate-location-selector-item" data-date="2016-12-05">Mon, Dec 5th </li>
              <li class="gate-location-selector-item" data-date="2016-12-06">Tue, Dec 6th </li>
              <li class="gate-location-selector-item" data-date="2016-12-07">Wed, Dec 7th </li>
              <li class="gate-location-selector-item" data-date="2016-12-08">Thu, Dec 8th </li>
              <li class="gate-location-selector-item" data-date="2016-12-09">Fri, Dec 9th </li>
              <li class="gate-location-selector-item" data-date="2016-12-10">Sat, Dec 10th </li>
              <li class="gate-location-selector-item" data-date="2016-12-11">Sun, Dec 11th </li>
              <li class="gate-location-selector-item" data-date="2016-12-12">Mon, Dec 12th </li>
              <li class="gate-location-selector-item" data-date="2016-12-13">Tue, Dec 13th </li>
              <li class="gate-location-selector-item" data-date="2016-12-14">Wed, Dec 14th </li>
              <li class="gate-location-selector-item" data-date="2016-12-15">Thu, Dec 15th </li>
              <li class="gate-location-selector-item" data-date="2016-12-16">Fri, Dec 16th </li>
            </ul>
          </div>
          <form action="https://www.bloomthat.com/locations/set_date" method="post" accept-charset="utf-8" id="gate-location-selector-form">
            <input name="date" value="" id="gate-location-selector-date" type="hidden"> </form>
        </div>
      </div>
    </div>
  </div>
  <div style="display:none;" itemprop="brand" itemscope="" itemtype="http://schema.org/Organization"> <span style="display:none;" itemprop="name">BloomThat</span> <span style="display:none;" itemprop="email">info@bloomthat.com</span> <span style="display:none;" itemprop="foundingLocation">San Francisco, CA</span>
    <div itemprop="brand" itemscope="" itemtype="http://schema.org/Brand"> <span style="display:none;" itemprop="name">BloomThat</span> <span style="display:none;" itemprop="logo">https://fdn.bloomthat.com/icons/2014/11/apple-touch-icon-precomposed.png</span> </div>
  </div>
  <div id="fixed-body">
    <div class="container main content" id="flower-collection">
      <div class="mobile-temp-gate">
        <div class="section">
          <div class="product_row" style="text-align:center;">
            <div class="delivery-select">
              <div class="collection-location btm-bord" id="delivery-select-loc">
                <div class="icon-block"> <i class="fa fa-map-marker" id="map-hov"></i> </div>
                <div class="info-display-block rt-bord">
                  <h4 class="pick_header lfte"> Where </h4>
                  <h4 class="sub-four lfte"> <strong>San Francisco</strong> &nbsp;<i class="fa fa-chevron-down"></i> </h4> </div>
              </div>
              <div class="collection-time" id="delivery-select-time">
                <div class="icon-block"> <i class="fa fa-clock-o" id="clock-hov"></i> </div>
                <div class="info-display-block">
                  <h4 class="pick_header lfte"> When </h4>
                  <h4 class="sub-four lfte"> <strong>Today</strong> &nbsp;<i class="fa fa-chevron-down"></i> </h4> </div>
              </div>
              <div class="delivery-location-section" style="display:none;">
                <h4 class="arrow-text"> Enter a city name or postal code </h4>
                <div class="hero-address-gate-a">
                  <div class="container modal-wrap-container">
                    <div class="row modal-wrap-row">
                      <form action="https://www.bloomthat.com/locations/set_zip_code" accept-charset="utf-8" class="contact_form auto-submit" id="location-search-form" method="get">
                        <input name="return_uri" value="/flowers" type="hidden">
                        <div class="modal-input-kicker">
                          <input class="bloom-input-100" placeholder="Enter your zip code" name="zipcode" id="location-search" autocomplete="off" type="text">
                          <div class="pac-container pac-logo" style="width: 398px; position: absolute; display:none;z-index:999;" id="location-search-results"></div>
                        </div>
                        <div class="modal-button-kicker">
                          <button type="button" id="location-search-submit"><span>GO</span>
                          </button>
                        </div>
                      </form>
                    </div>
                    <hr class="loc_hr" id="mob_out"> </div>
                </div>
                <div class="mob_out-box">
                  <h4 class="arrow-text" style="margin-top:10px;"> or choose from some of our most popular areas </h4>
                  <div class="container modal-wrap-container">
                    <div class="row modal-wrap-row" style="margin-bottom:10px;">
                      <form action="https://www.bloomthat.com/cart/search_address" method="post" accept-charset="utf-8" class="contact_form auto-submit" id="footer-buttons">
                        <input name="return_uri" value="/flowers" type="hidden">
                        <ul class="location_picker">
                          <li>
                            <button type="submit" class="loc_picker_button" name="address" value="94107">San Francisco</button>
                          </li>
                          <li>
                            <button type="submit" class="loc_picker_button" name="address" value="94301">Palo Alto</button>
                          </li>
                        </ul>
                        <ul class="location_picker">
                          <li>
                            <button type="submit" class="loc_picker_button" name="address" value="90071">Los Angeles</button>
                          </li>
                          <li>
                            <button type="submit" class="loc_picker_button" name="address" value="90401">Santa Monica</button>
                          </li>
                        </ul>
                        <ul class="location_picker">
                          <li>
                            <button type="submit" class="loc_picker_button" name="address" value="95113">San Jose</button>
                          </li>
                          <li>
                            <button type="submit" class="loc_picker_button" name="address" value="95014">Cupertino</button>
                          </li>
                        </ul>
                        <ul class="location_picker">
                          <li>
                            <button type="submit" class="loc_picker_button" name="address" value="94607">Oakland</button>
                          </li>
                          <li>
                            <button type="submit" class="loc_picker_button" name="address" value="94720">Berkeley</button>
                          </li>
                        </ul>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
              <div class="delivery-time-section" style="display:none;">
                <h4 class="arrow-text"> Choose a delivery date to see available blooms </h4>
                <div class="container modal-wrap-container">
                  <div class="row modal-wrap-row">
                    <form action="https://www.bloomthat.com/locations/set_date" accept-charset="utf-8" id="date-picker-form" method="get">
                      <input name="return_uri" value="/flowers" type="hidden">
                      <input name="date" value="" id="date-picker-value" type="hidden">
                      <div id="loc_spot">
                        <ul class="dtpicker">
                          <li class="dtbox dt_date selected" data-date="2016-11-27">
                            <h3 class="pick_top"> Today </h3>
                            <h4 class="pick_header"> Nov 27th </h4> </li>
                          <li class="dtbox dt_date" data-date="2016-11-28">
                            <h3 class="pick_top"> Tomorrow </h3>
                            <h4 class="pick_header"> Nov 28th </h4> </li>
                          <li class="dtbox dt_date" data-date="2016-11-29">
                            <h3 class="pick_top"> Tuesday </h3>
                            <h4 class="pick_header"> Nov 29th </h4> </li>
                          <li class="dtbox dt_date" data-date="2016-11-30">
                            <h3 class="pick_top"> Wednesday </h3>
                            <h4 class="pick_header"> Nov 30th </h4> </li>
                          <li class="dtbox dt_date" data-date="2016-12-01">
                            <h3 class="pick_top"> Thursday </h3>
                            <h4 class="pick_header"> Dec 1st </h4> </li>
                          <li class="dtbox dt_date" data-date="2016-12-02">
                            <h3 class="pick_top"> Friday </h3>
                            <h4 class="pick_header"> Dec 2nd </h4> </li>
                          <li class="dtbox dt_date" data-date="2016-12-03">
                            <h3 class="pick_top"> Saturday </h3>
                            <h4 class="pick_header"> Dec 3rd </h4> </li>
                          <li class="dtbox dt_date" data-date="2016-12-04">
                            <h3 class="pick_top"> Sunday </h3>
                            <h4 class="pick_header"> Dec 4th </h4> </li>
                          <li class="dtbox dt_date" data-date="2016-12-05">
                            <h3 class="pick_top"> Monday </h3>
                            <h4 class="pick_header"> Dec 5th </h4> </li>
                          <li class="dtbox dt_date" data-date="2016-12-06">
                            <h3 class="pick_top"> Tuesday </h3>
                            <h4 class="pick_header"> Dec 6th </h4> </li>
                          <li class="dtbox dt_date" data-date="2016-12-07">
                            <h3 class="pick_top"> Wednesday </h3>
                            <h4 class="pick_header"> Dec 7th </h4> </li>
                          <li class="dtbox dt_date" data-date="2016-12-08">
                            <h3 class="pick_top"> Thursday </h3>
                            <h4 class="pick_header"> Dec 8th </h4> </li>
                          <li class="dtbox dt_date" data-date="2016-12-09">
                            <h3 class="pick_top"> Friday </h3>
                            <h4 class="pick_header"> Dec 9th </h4> </li>
                          <li class="dtbox dt_date" data-date="2016-12-10">
                            <h3 class="pick_top"> Saturday </h3>
                            <h4 class="pick_header"> Dec 10th </h4> </li>
                          <li class="dtbox dt_date" data-date="2016-12-11">
                            <h3 class="pick_top"> Sunday </h3>
                            <h4 class="pick_header"> Dec 11th </h4> </li>
                          <li class="dtbox dt_date" data-date="2016-12-12">
                            <h3 class="pick_top"> Monday </h3>
                            <h4 class="pick_header"> Dec 12th </h4> </li>
                          <li class="dtbox dt_date" data-date="2016-12-13">
                            <h3 class="pick_top"> Tuesday </h3>
                            <h4 class="pick_header"> Dec 13th </h4> </li>
                          <li class="dtbox dt_date" data-date="2016-12-14">
                            <h3 class="pick_top"> Wednesday </h3>
                            <h4 class="pick_header"> Dec 14th </h4> </li>
                          <li class="dtbox dt_date" data-date="2016-12-15">
                            <h3 class="pick_top"> Thursday </h3>
                            <h4 class="pick_header"> Dec 15th </h4> </li>
                          <li class="dtbox dt_date" data-date="2016-12-16">
                            <h3 class="pick_top"> Friday </h3>
                            <h4 class="pick_header"> Dec 16th </h4> </li>
                        </ul>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="collection-wrapper">
        <div data-reactroot="" id="collection-grid">
          <div id="products">
            <section>
              <header class="section-header">
                <div>
                  <hr class="header-line"><b>популярные</b>
                </div>
                <!-- react-text: 8 -->A few of our fave MUST-HAVES. Get ‘em while they’re hot!
                <!-- /react-text -->
              </header>
              <div>


                <% cache ['store', Product.latest] do %>
                    <% @products.each do |product| %>
                        <% cache ['entry', product] do %>




                            <div class="product">
                              <%= link_to image_tag(product.image_url), buket_store_path(product), :class => "collecton-grid-image" %>
                              <div class="product-info">
                                <div class="info-top">
                                  <div class="title"><span><%= product.rus_title %></span><b><!-- react-text: 47 --> · <!-- /react-text --><span> <%= number_to_currency(product.price) %></span></b>
                                  </div>
                                  <p class="when-deliv">available Today, 1PM-3PM</p>
                                </div>
                                <div class="info-bottom"><%= link_to "ОТПРАВЬ", buket_store_path(product), :class => "synth-product_link button" %>
                                </div>
                              </div>
                              <div itemscope="" itemtype="http://schema.org/Product" style="display: none;">
                                <div itemprop="brand" itemscope="" itemtype="http://schema.org/Organization" style="display: none;"><span itemprop="name" style="display: none;">BloomThat</span><span itemprop="email" style="display: none;">info@bloomthat.com</span><span itemprop="foundingLocation" style="display: none;">San Francisco, CA</span>
                                  <div itemprop="brand" itemscope="" itemtype="http://schema.org/Brand"><span itemprop="name" style="display: none;">BloomThat</span><span itemprop="logo" style="display: none;">http://fdn.bloomthat.dev/icons/2014/11/apple-touch-icon-precomposed.png</span>
                                  </div>
                                </div><span itemprop="url" style="display: none;">the-olivier</span><span itemprop="name" style="display: none;">The Olivier</span><span itemprop="description" style="display: none;"></span><span itemprop="image" style="display: none;">https://fdn.bloomthat.com/files/products/the-olivier/full/1479773501/the-olivier-full-bloomthat-olivetree-large.jpg</span>
                                <div itemprop="offers" itemscope="" itemtype="http://schema.org/Offer" style="display: none;"><span itemprop="price" style="display: none;">50.00</span><span itemprop="priceCurrency" style="display: none;">USD</span><span itemprop="availability" style="display: none;">In Stock</span>
                                </div>
                              </div>
                            </div>
                        <% end %>
                    <% end %>
                <% end %>





              </div>
            </section>

            <section>
              <header class="section-header">
                <div>
                  <hr class="header-line"><b>популярные</b>
                </div>
                <!-- react-text: 8 -->A few of our fave MUST-HAVES. Get ‘em while they’re hot!
                <!-- /react-text -->
              </header>
              <div>


                <% cache ['store', Product.latest] do %>
                    <% @products.each do |product| %>
                        <% cache ['entry', product] do %>




                            <div class="product">
                              <%= link_to image_tag(product.image_url), buket_store_path(product), :class => "collecton-grid-image" %>
                              <div class="product-info">
                                <div class="info-top">
                                  <div class="title"><span><%= product.rus_title %></span><b><!-- react-text: 47 --> · <!-- /react-text --><span> <%= number_to_currency(product.price) %></span></b>
                                  </div>
                                  <p class="when-deliv">available Today, 1PM-3PM</p>
                                </div>
                                <div class="info-bottom"><%= link_to "ОТПРАВЬ", buket_store_path(product), :class => "synth-product_link button" %>
                                </div>
                              </div>
                              <div itemscope="" itemtype="http://schema.org/Product" style="display: none;">
                                <div itemprop="brand" itemscope="" itemtype="http://schema.org/Organization" style="display: none;"><span itemprop="name" style="display: none;">BloomThat</span><span itemprop="email" style="display: none;">info@bloomthat.com</span><span itemprop="foundingLocation" style="display: none;">San Francisco, CA</span>
                                  <div itemprop="brand" itemscope="" itemtype="http://schema.org/Brand"><span itemprop="name" style="display: none;">BloomThat</span><span itemprop="logo" style="display: none;">http://fdn.bloomthat.dev/icons/2014/11/apple-touch-icon-precomposed.png</span>
                                  </div>
                                </div><span itemprop="url" style="display: none;">the-olivier</span><span itemprop="name" style="display: none;">The Olivier</span><span itemprop="description" style="display: none;"></span><span itemprop="image" style="display: none;">https://fdn.bloomthat.com/files/products/the-olivier/full/1479773501/the-olivier-full-bloomthat-olivetree-large.jpg</span>
                                <div itemprop="offers" itemscope="" itemtype="http://schema.org/Offer" style="display: none;"><span itemprop="price" style="display: none;">50.00</span><span itemprop="priceCurrency" style="display: none;">USD</span><span itemprop="availability" style="display: none;">In Stock</span>
                                </div>
                              </div>
                            </div>
                        <% end %>
                    <% end %>
                <% end %>





              </div>
            </section>




          </div>
        </div>
      </div>
    </div>
    <div class="section clearfix"> &nbsp; </div>
  </div>
</div>
<div id="fb-root"></div>
<div class="arrow_box_email-capture" id="email-capture-modal" style="display:none;" data-backdrop="static" data-keyboard="false">
  <div class="bottom-layer">
    <div class="modal-body">
      <div id="before-jesus-a">
        <div class="modal-over-body">
          <h2 class="email-cap-head"> There's something<br> you should know. </h2> </div>
        <div class="modal-over-body-cta">
          <h3 class="email-cap-sub"> Sign up for our emails + find out. </h3>
          <h4 class="email-cap-small"> (You'll also get <strong>$5 off</strong> your first order for signing up.) </h4> </div>
        <div class="hero-address-gate">
          <div class="gate-form-holder">
            <div class="hero-input-box" id="email_collect-input">
              <input class="bloom-input-100 monster-lite-form" name="user_name" placeholder="Enter Email Here" required="" id="email-collect-input-a" type="email"> </div>
            <div class="hero-button-box">
              <button type="button" class="action-pre_register hero-shop-button mp-email_register_attempted"><span>TELL ME!</span>
              </button>
            </div>
          </div>
        </div>
      </div>
      <div id="after-jesus-a" style="display:none;">
        <div class="modal-over-body-cta dones">
          <h2 class="email-cap-head"> Here's $5 off<br> for signing up! </h2>
          <h3 class="email-cap-sub big-jump"> Use code <strong>FIRSTBLOOMS</strong> at checkout </h3>
          <h4 class="email-cap-small"> First time users only </h4> </div>
      </div>
    </div>
  </div>
</div>
<div class="arrow_box_email-capture" id="email-capture-modal-b" style="display:none;" data-backdrop="static" data-keyboard="false">
  <div class="bottom-layer">
    <div class="modal-body">
      <div id="before-jesus-b">
        <div class="modal-over-body sign-head">
          <h2 class="email-cap-head sign-two-head"> Welcome to<br> the Bloomcrew! </h2> </div>
        <div class="modal-over-body-cta sign-sub">
          <h3 class="email-cap-sub sign-two-sub"> Sign up and get </h3> </div>
        <div class="hero-address-gate sign-two-email">
          <div class="gate-form-holder">
            <div class="hero-input-box sign-two-input-box" id="email_collect-input">
              <input class="bloom-input-100 monster-lite-form" name="user_name" placeholder="Enter Your Email Here" required="" id="email-collect-input-b" type="email"> </div>
            <div class="hero-button-box sign-two-button-box">
              <button type="button" class="action-pre_register hero-shop-button mp-email_register_attempted"><span>GET THE CODE</span>
              </button>
            </div>
          </div>
        </div>
      </div>
      <div id="after-jesus-b" style="display:none;">
        <div class="modal-over-body-cta dones">
          <div class="modal-over-body sign-head">
            <h2 class="email-cap-head sign-two-head"> Nailed It. </h2> </div>
          <div class="modal-over-body-cta sign-sub">
            <h3 class="email-cap-sub sign-two-sub"> You Got </h3> </div>
          <div class="modal-over-body-coupon">
            <h3 class="email-cap-sub big-jumper"> Use code <strong>FIRSTBLOOMS</strong> at checkout </h3>
            <h4 class="email-cap-small"> First time users only </h4> </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="arrow_box_zipper" style="display:none;" id="help-two">
  <div class="bottom-layer">
    <div class="modal-body">
      <div class="arrow_box_header_top">
        <h3 class="arrow-header"> Bloom<strong>Tip</strong> </h3> </div>
      <div class="container modal-wrap-container">
        <div class="row modal-wrap-row">
          <h4 class="arrow-text" id="two-clicker"> <strong>TWO-CLICK BLOOMS</strong><br> The fastest blooms from coast to coast.<br> Select a recipient, write a note + submit.<br> Blooms so fast, like, woah. 😮 </h4> </div>
      </div>
      <div class="container modal-wrap-container">
        <div class="row modal-wrap-row">
          <ul class="location_picker">
            <li>
              <button type="button" class="logout_btn" name="Close" id="help_got-it">GOT IT!</button>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="arrow_box_zipper" style="display:none;height:244px" id="shipping-info-modal">
  <div class="bottom-layer">
    <div class="modal-body">
      <div class="arrow_box_header_top">
        <h3 class="arrow-header"> Heads-up about shipping! </h3> </div>
      <div class="container modal-wrap-container" style="padding-bottom:8px">
        <div class="row modal-wrap-row">
          <h4 class="arrow-text" style="margin-top:15px; margin-bottom:12px;padding-left:20px;padding-right:20px;"> We always send the best quality blooms and,<br> to do that, we have to share the cost of shipping.<br> <br> You'll see the exact amount after entering<br> the delivery address at checkout <em>(we need to know<br> how far we're sending, cuz we're not psychics… yet).</em> </h4> </div>
      </div>
      <div class="container modal-wrap-container">
        <div class="row modal-wrap-row">
          <ul class="location_picker">
            <li>
              <button type="button" class="logout_btn modal-close" name="Close">GOT IT!</button>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="base">
  <div class="container">
    <div class="sixteen columns">
      <div class="row"> <img alt="BloomThat Flower Delivery" style="width:75px;" src="<%=asset_path 'bloomthat-logo-mobile.png' %>"> </div>
      <ul class="master_footer" id="swap-header-footer">
        <li> <a href="https://#/locations" title="Locations">АДРЕС</a> </li>

        <li> <a href="https://#/help-center" title="Help Center">Контакты</a> </li>
      </ul>
      <br>
      <ul class="master_footer">
        <li class="hidden-below"> <a href="https://#/locations" title="Locations">АДРЕС</a> </li>

        <li class="hidden-below"> <a href="https://#/help-center" title="Help Center">Контакты</a> </li>
        <li class="hidden-below"> <a href="https://#/terms" title="Privacy Policy and Terms of Use">Условия</a> </li>
        <li class="hidden-below"> <a href="https://jobs.lever.co/bloomthat" title="Press">Нанимаем</a> </li>
      </ul>
      <h3> Давайте дружить </h3>
      <div class="social-buttons">
        <a target="_blank" href="https://www.instagram.com/" style="background-image: url(/instagram.png);" class="social-button"></a>
        <a target="_blank" href="https://www.snapchat.com/add/" style="background-image: url(/snapchat.png);" class="social-button"></a>
        <a target="_blank" href="https://www.facebook.com/" style="background-image: url(/facebook.png);" class="social-button"></a>
        <a target="_blank" href="https://www.twitter.com/" style="background-image: url(/twitter.png);" class="social-button"></a>
      </div>
      <p> © 2016 OtpravBuket </p>
    </div>
  </div>
</div>
<div class="arrow_box_zipper" style="display:none;" id="help-demand">
  <div class="bottom-layer">
    <div class="modal-body">
      <div class="arrow_box_header_top">
        <h3 class="arrow-header"> Bloom<strong>Tip</strong> </h3> </div>
      <div class="container modal-wrap-container">
        <div class="row modal-wrap-row">
          <h4 class="arrow-text" style="margin-top:15px; margin-bottom:25px;"> <strong>ON-DEMAND BLOOMS</strong><br> The fastest flower delivery ever.<br> Available in the Bay Area<br> and downtown New York. </h4> </div>
      </div>
      <div class="container modal-wrap-container">
        <div class="row modal-wrap-row">
          <ul class="location_picker">
            <li>
              <button type="button" class="logout_btn" name="Close" id="on_demand_got-it">GOT IT!</button>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="arrow_box_zipper" style="display:none;" id="promo_code_enter">
  <div class="bottom-layer">
    <div class="modal-body">
      <div class="arrow_box_header_top">
        <h3 class="arrow-header"> Promo <strong>Code</strong> </h3> </div>
      <h4 class="arrow-text"> Enter a promo or referral code </h4>
      <div class="container modal-wrap-container">
        <div class="row modal-wrap-row">
          <form action="https://www.bloomthat.com/checkout/promo_save" method="post" accept-charset="utf-8" id="promo-save-form">
            <div class="modal-input-kicker">
              <input name="note_to" value="" id="promo-note-to" type="hidden">
              <input name="note_from" value="" id="promo-note-from" type="hidden">
              <input name="note_content" value="" id="promo-note-content" type="hidden">
              <input name="promo_code" class="bloom-input-100 mp-value-discount_code_submission" placeholder="Promo Code" type="text"> </div>
            <div class="modal-button-kicker">
              <button type="submit" class="mp-add_promo_code_attempted" data-mp_button_text="Go"><span>GO</span>
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="arrow_box_zipper" style="display:none;" id="not-there-yet">
  <div class="bottom-layer">
    <div class="modal-body">
      <div class="arrow_box_header_top">
        <h3 class="arrow-header"> We're not there yet! </h3> </div>
      <div class="container modal-wrap-container">
        <div class="row modal-wrap-row">
          <h4 class="arrow-text" style="margin-top:30px; margin-bottom:30px;"> Sign up to be the first to know when we bloom your city. </h4> </div>
      </div>
      <div class="container modal-wrap-container">
        <div class="row modal-wrap-row">
          <ul class="location_picker">
            <li>
              <button type="button" class="logout_btn" name="Close" id="not-there-close" onclick="window.location.href='/login/sign-up';">SIGN UP!</button>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="arrow_box_desktop" id="footer-zip-request-modal" data-backdrop="static" data-keyboard="false" style="display:none;">
  <div class="bottom-layer">
    <div class="modal-body">
      <div>
        <h2 class="another-header"> <strong>Great</strong> Choice! </h2>
        <h3 class="another-smaller-header"> Now all we need is the zip. </h3>
        <div class="hero-address-gate">
          <div class="gate-form-holder">
            <form action="https://www.bloomthat.com/locations/set_zip_code" accept-charset="utf-8" id="footer-zip-request-form" method="get">
              <input name="return_uri" value="flowers" type="hidden">
              <input name="numbers_only" value="1" id="numbers_only" type="hidden">
              <div class="hero-input-box">
                <input maxlength="8" class="bloom-input-100 monster-lite-form" placeholder="Enter your delivery zip code" name="address" id="footer-zip-request" required="" autocomplete="off" type="number">
                <input name="zipcode" id="footer-zip-request-zipcode" type="hidden">
                <div class="pac-container pac-logo" style="width: 398px; position: absolute; display:none;" id="footer-zip-request-results"></div>
              </div>
              <div class="hero-button-box">
                <button type="submit" class="hero-shop-button mp-gate_city_search_attempted" data-mp_button_text="Shop" data-mp_ui_element="hero-address-gate" id="footer-zip-request-submit" data-input_id="footer-zip-request" style="background-color:#ff6600"><span>SHOW ME THE BLOOMS!</span>
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
